<div class="panel-body">
  <form class="form-horizontal row" role="form" name="newSchoolForm">

    <div class="form-group">
      <label for="school-id" class="col-sm-2 control-label">学校编号</label>

      <div class="col-sm-8">
        <input id="school-id" type="number" ng-model="school.school_id" name="id"
               class="editing-field form-control" ng-bk-focus required/>
        <span class="error-field" ng-show="newSchoolForm.id.$dirty && isSchoolDuplicated(school, 'school_id')">与已有学校ID重复！</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-full-name" class="col-sm-2 control-label">学校全称</label>

      <div class="col-sm-8">
        <input id="school-full-name" type="text" ng-model="school.full_name" name="full_name"
               class="editing-field form-control" required/>
        <span class="error-field" ng-show="newSchoolForm.full_name.$dirty && isSchoolDuplicated(school, 'full_name')">与已有学校全称重复！</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-name" class="col-sm-2 control-label">学校名称(手机端显示)</label>

      <div class="col-sm-8">
        <input id="school-name" type="text" ng-model="school.name" name="name"
               class="editing-field form-control" required ng-maxlength="8"/>
        <span class="error-field" ng-show="newSchoolForm.name.$error.maxlength">学校显示名称不能超过8个字符</span>
      </div>
    </div>


    <div class="form-group">
      <label for="school-phone" class="col-sm-2 control-label">学校电话</label>

      <div class="col-sm-8">
        <input id="school-phone" type="text" ng-model="school.phone" name="phone"
               class="editing-field form-control" required ng-pattern="/^(\d{11}|0\d{2,3}\-\d{8})$/"/>
        <span class="error-field" ng-show="newSchoolForm.phone.$error.pattern">错误的电话，请用座机010-88886666或者手机格式1398886666</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-token" class="col-sm-2 control-label">验证码</label>

      <div class="col-sm-8">
        <input id="school-token" type="text" ng-model="school.token" name="token"
               class="editing-field form-control" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="admin-name" class="col-sm-2 control-label">校长登录名</label>

      <div class="col-sm-8">
        <input id="admin-name" type="text" ng-model="school.principal.admin_login" name="adminLogin"
               class="editing-field form-control" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="admin-password" class="col-sm-2 control-label">密码</label>

      <div class="col-sm-8">
        <input id="admin-password" type="password" ng-model="school.principal.admin_password" name="adminPassword"
               class="editing-field form-control" ng-minlength="6" required/>
        <span class="error-field" ng-show="newSchoolForm.adminPassword.$dirty && newSchoolForm.adminPassword.$error.required">请给出登陆密码</span>
        <span class="error-field" ng-show="newSchoolForm.adminPassword.$dirty && newSchoolForm.adminPassword.$error.minlength">密码至少6位</span>
      </div>
    </div>
    <div class="form-group">
      <label for="admin-password-confirm" class="col-sm-2 control-label">重复密码</label>

      <div class="col-sm-8">
        <input id="admin-password-confirm" type="password" ng-model="school.principal.admin_password_confirm" name="adminPasswordConfirm"
               class="editing-field form-control" ng-minlength="6" required/>
        <span class="error-field" ng-show="newSchoolForm.adminPasswordConfirm.$dirty && school.principal.admin_password != school.principal.admin_password_confirm">两次输入不一致。</span>
        <span class="error-field" ng-show="newSchoolForm.adminPasswordConfirm.$dirty && newSchoolForm.adminPasswordConfirm.$error.required">请再次填写密码</span>
      </div>
    </div>

    <div class="form-group">
      <label for="expire-date" class="col-sm-2 control-label">过期时间</label>

      <div class="col-sm-8">
        <input id="expire-date" type="date" ng-model="school.charge.expire_date" name="expireDate"
               class="editing-field form-control" required/>
      </div>
    </div>


    <div class="form-group">
      <label for="total_number" class="col-sm-2 control-label">授权账号个数</label>

      <div class="col-sm-8">
        <input id="total_number" type="number" ng-model="school.charge.total_phone_number" name="total_phone_number"
               class="editing-field form-control" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">学校地址</label>

      <div class="col-sm-8">
        <input id="address" type="text" ng-model="school.address" name="address"
               class="editing-field form-control" required/>
      </div>
    </div>


    <div class="form-group">
      <a class="btn btn-warning pull-right adding-button"
         ng-disabled="newSchoolForm.$invalid || isSchoolDuplicated(school) || school.admin_password != school.admin_password_confirm"
         ng-click="saveSchool(school)">保存</a>
      <a class="btn btn-default pull-right adding-button"
         ng-click="$hide()">取消</a>
    </div>
  </form>
</div>

