<h2 ng-show="ads.length > 0">已存在的广告</h2>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed charge-list" ng-show="ads.length > 0">
  <thead>
  <tr class="row">
    <th class="col-xs-2">广告商名称</th>
    <th class="col-xs-3">广告链接</th>
    <th class="col-xs-3">图片</th>
    <th class="col-xs-1">位置编号</th>
    <th class="col-xs-2">修改时间</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="ad in ads" class="row">
    <td class="col-xs-2">{{ad.name}}</td>
    <td class="col-xs-3">{{ad.link}}</td>
    <td class="col-xs-3">
      <div class="portrait-container">
        <img class="portrait" ng-src="{{ad.image || '/assets/images/portrait_placeholder.png'}}"
             alt="广告图片"/></div>
    </td>
    <td class="col-xs-1">{{ad.position_id}}</td>
    <td class="col-xs-2">{{ad.timestamp | date:'yyyy年MM月dd日 HH:mm'}}</td>
    <td class="col-xs-1">
      <button class="btn btn-xs btn-danger"
              ng-click="delete(ad);$event.stopPropagation()">删除
      </button>
      <button class="btn btn-xs btn-warning"
              ng-click="editExistingAd(ad);$event.stopPropagation()">编辑
      </button>
    </td>
  </tr>
  </tbody>
</table>

<h2>{{editing ? '编辑':'创建'}}</h2>
<div class="col-sm-4">
  <div class="form-group">
    <div class="portrait-container">
      <img class="portrait" ng-src="{{newAd.image || '/assets/images/wip.gif'}}"
           alt="广告图片"/></div>
  </div>
</div>
<div class="col-sm-8">
  <form role="form" class="upload-form form-horizontal" name="newAdForm">
    <div class="form-group">
      <label for="ad-name" class="col-sm-4 control-label">广告商名称</label>

      <div class="col-sm-8">
        <input id="ad-name" class="form-control" ng-model="newAd.name" required placeholder="推送时被显示为XX提醒您"
               maxlength="20"/>
      </div>
    </div>

    <div class="form-group">
      <label for="ad-image" class="col-sm-4 control-label">图片URL</label>

      <div class="col-sm-8">
        <input id="ad-image" class="form-control" type="url" ng-model="newAd.image" required placeholder="广告显示的图片"/>
      </div>
    </div>

    <div class="form-group">
      <label for="ad-link" class="col-sm-4 control-label">广告跳转链接</label>

      <div class="col-sm-8">
        <input id="ad-link" class="form-control" ng-model="newAd.link" required placeholder="点击广告时跳转的链接"/>
      </div>
    </div>

    <div class="form-group">
      <label for="ad-position" class="col-sm-4 control-label">广告位编号</label>

      <div class="col-sm-8">
        <input id="ad-position" class="form-control" type="number" ng-model="newAd.position_id" required
               min="1" max="100" placeholder="广告的在APP中的位置"/>
      </div>
    </div>

    <div class="form-group button-group">
      <div class="col-sm-3">
        <button type="submit" class="btn btn-default" ng-disabled="newAdForm.$invalid || !newAdForm.$dirty || uploading"
                ng-click="save(newAd)">保存
        </button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-info" ng-click="closeModel()" ng-disabled="uploading">{{ newAdForm.$dirty ? '取消':'关闭'}}
        </button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-success col-sm-offset-5" ng-show="editing"
                ng-disabled="uploading"
                ng-click="addNewAd(newAd.school_id);$event.stopPropagation()">放弃修改重新创建
        </button>
      </div>
    </div>
  </form>
</div>