<h2>学校收费开通管理</h2>
<div class="well employee-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>
</div>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed charge-list">
  <thead>
  <tr class="row">
    <th class=".col-xs-3">#</th>
    <th class=".col-xs-3">学校</th>
    <th class=".col-xs-3">开通手机数</th>
    <th class=".col-xs-3">到期时间</th>
    <th class=".col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="kg in kindergartens | filter: searchText" class="row"
      ng-class="{editable: edit, expired: kg.charge[0].status==0}" ng-click="edit(kg)">
    <td class=".col-xs-3"><a ng-href="/admin#/kindergarten/{{kg.school_id}}" ng-click="$event.stopPropagation()">{{kg.school_id}}</a>
    </td>
    <td class=".col-xs-3">{{kg.name}}</td>
    <td class=".col-xs-3">{{kg.charge[0].total_phone_number}}</td>
    <td class=".col-xs-3">{{kg.charge[0].expire_date}}</td>
    <td class=".col-xs-2">
      <button ng-show="kg.charge[0].status==1" class="btn btn-xs btn-danger" ng-confirm-msg="你确定要让{{kg.name}}的所有账号过期吗?"
              ng-confirm-click="disable(kg.charge[0])">立刻过期
      </button>
      <button ng-hide="kg.charge[0].status==1" class="btn btn-xs btn-success"
              ng-click="enable(kg.charge[0]);$event.stopPropagation()">激活
      </button>
    </td>
  </tr>
  </tbody>
</table>

