<div class="panel-body">
  <form class="form-horizontal row" role="form" name="editSchoolForm">

    <div class="form-group">
      <label for="school-id" class="col-sm-2 control-label">学校编号</label>

      <div class="col-sm-8">
        <p id="school-id" class="form-control-static">{{school.school_id}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="school-full-name" class="col-sm-2 control-label">学校全称</label>

      <div class="col-sm-8">
        <input id="school-full-name" type="text" ng-model="school.full_name" name="full_name"
               class="editing-field form-control" required/>
        <span class="error-field"
              ng-show="editSchoolForm.name.$dirty && isSchoolDuplicated(school, 'full_name')">与已有学校全称重复！</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-name" class="col-sm-2 control-label">手机端显示名称</label>

      <div class="col-sm-8">
        <input id="school-name" type="text" ng-model="school.name" name="name"
               class="editing-field form-control" required ng-maxlength="8"/>
        <span class="error-field" ng-show="editSchoolForm.name.$error.maxlength">学校显示名称不能超过8个字符</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-phone" class="col-sm-2 control-label">校长手机号</label>

      <div class="col-sm-8">
        <input id="school-cell-phone" type="text" ng-model="school.phone" name="phone"
               class="editing-field form-control" required ng-pattern="/^\d{11}$/"/>
        <span class="error-field" ng-show="editSchoolForm.phone.$error.pattern">错误的手机号码，应该是11位数字</span>
      </div>
    </div>

    <div class="form-group">
      <label for="school-token" class="col-sm-2 control-label">验证码</label>

      <div class="col-sm-8">
        <input id="school-token" type="text" ng-model="school.token" name="token"
               class="editing-field form-control" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="admin-name" class="col-sm-2 control-label">校长登录名</label>

      <div class="col-sm-8">
        <p id="admin-name" class="form-control-static">{{school.principal.admin_login}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="expire-date" class="col-sm-2 control-label">过期时间</label>

      <div class="col-sm-8">
        <p id="expire-date" class="form-control-static">{{school.charge.expire_date | date:'yyyy年MM月'}}</p>
      </div>
    </div>


    <div class="form-group">
      <label for="total-number" class="col-sm-2 control-label">授权账号个数</label>

      <div class="col-sm-8">
        <p id="total-number" class="form-control-static">{{school.charge.total_phone_number}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">学校地址</label>

      <div class="col-sm-8">
        <p id="address" class="form-control-static">{{school.address}}</p>
      </div>
    </div>


    <div class="form-group">
      <a class="btn btn-warning pull-right adding-button"
         ng-disabled="editSchoolForm.$invalid || isSchoolDuplicated(school)"
         ng-click="endEditing(school)">保存</a>
      <a class="btn btn-default pull-right adding-button"
         ng-click="$hide()">取消</a>
    </div>
  </form>
</div>

