<table class="table table-hover table-condensed feedback-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">#</th>
    <th class="col-xs-1">手机号码</th>
    <th class="col-xs-5">反馈内容</th>
    <th class="col-xs-1">家长</th>
    <th class="col-xs-1">小孩</th>
    <th class="col-xs-2">备注</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <div class="loading" ng-show="loading"></div>
  <tr ng-repeat="feedback in allFeedback | filter: searchText" class="row">
    <td class="col-xs-1">{{feedback.id}}</td>
    <td class="col-xs-1">{{feedback.phone}}</td>
    <td class="col-xs-5">{{feedback.content}}</td>
    <td class="col-xs-1">{{feedback.parent.name}}</td>
    <td class="col-xs-1">{{feedback.parent.child.name}}</td>
    <td class="col-xs-2">{{feedback.comment}}</td>
    <td class="col-xs-1">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="标记后此条反馈将隐藏，你确定要继续吗?"
              ng-confirm-click="delete(class)">标记为已处理
      </button>
      <button class="btn btn-xs btn-warning" ng-click="edit(class)">编辑
      </button>
    </td>
  </tr>
  </tbody>
</table>

