<div class="main-frame">
  <div class="header">
    <div class="product-logo-container">
      <div class="product-logo"></div>
      <div class="rainbow-logo"></div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">幼乐宝 后台管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse col-sm-12" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
            <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
              {{adminUser.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu user-menu" role="menu">
              <li><a ng-click="changePassword(adminUser)">修改密码</a></li>
              <li><a ng-href="/admin">去学校页面</a></li>
              <li class="divider"></li>
              <li><a class="logout-link" href="/logout">退出登陆</a></li>
            </ul>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row modules-list-container col-sm-2">
    <ul class="nav nav-pills nav-stacked modules-list actions">
      <li class="action" ng-class="{active : isSelected('school')}">
        <a ng-href="#/main/school" class="btn btn-danger">
          学校管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('app')}">
        <a ng-href="#/main/app" class="btn btn-primary">
          客户端版本管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('feedback')}">
        <a ng-href="#/main/feedback" class="btn btn-warning">
          家长反馈跟踪
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('principal')}">
        <a ng-href="#/main/principal" class="btn btn-primary">
          校长信息
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('charge')}">
        <a ng-href="#/main/charge" class="btn btn-success">
          收费管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('code')}">
        <a ng-href="#/main/verification_code" class="btn btn-success">
          查看验证码
        </a>
      </li>
    </ul>

  </div>
  <div class="col-sm-10">
    <div class="module-view" ui-view></div>
  </div>
</div>