<h2>按手机号码管理（供测试用）</h2>
<div class="well phone-management-panel row">


  <div class="col-sm-5">
    <form class="form-horizontal row" role="form" name="form">
      <div class="form-group col-sm-9"><label for="phone" class="form-control-static">家长或教师手机号</label>
        <input id="phone" name="phone" class="form-control" ng-model="phone" ui-mask="{{'999-9999-9999'}}" required/>

        <div class="form-group col-sm-12">
          <button class="btn btn-primary"
                  ng-click="query(phone)" ng-disabled="form.$invalid">查询
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-5">
    <form class="form-horizontal row" role="form" name="cardForm">
      <div class="form-group col-sm-9"><label for="card" class="form-control-static">卡号</label>
        <input id="card" name="card" class="form-control" ng-model="card" ui-mask="{{'99999-99999'}}" required/>

        <div class="form-group col-sm-12">
          <button class="btn btn-primary"
                  ng-click="queryCard(card)" ng-disabled="cardForm.$invalid">查询
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div ui-view class="phone-management-detail row"></div>
