<h2>学校月度报告汇总</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>
</div>
<button type="submit" class="btn btn-success col-xs-offset-1 col-xs-2" ng-disabled="loading || !export"
        ng-csv="export()" csv-header="exportHeader()" add-bom="U+FEFF"
        filename="{{csvName}}">导出{{currentMonth}}数据
</button>
<button class="btn btn-warning col-xs-offset-1 col-xs-2" ng-click="switchToRealTime()">统计到昨天</button>

<table class="table table-hover table-condensed table-striped schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">#ID</th>
    <th class="col-xs-2">开园时间</th>
    <th class="col-xs-2">学校全称</th>
    <th class="col-xs-2">地区</th>
    <th class="col-xs-1">学生总数</th>
    <th class="col-xs-1">家长总数</th>
    <th class="col-xs-1">总用户数</th>
    <th class="col-xs-1">当月用户数</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr class="row">
    <td class="col-xs-1"></td>
    <td class="col-xs-2"></td>
    <td class="col-xs-2">合计：</td>
    <td class="col-xs-2"></td>
    <td class="col-xs-1">{{allChildren}}</td>
    <td class="col-xs-1">{{allParents}}</td>
    <td class="col-xs-1">{{allLoggedEver}}</td>
    <td class="col-xs-1">{{allLoggedOnce}}</td>
    <td class="col-xs-1"></td>
  </tr>

  <tr ng-repeat="kg in kindergartens | filter: searchText | orderBy:['-monthly.logged_ever', '-monthlyRate', '-monthlyChildRate']" class="row" ng-class="{editable: detail}" ng-click="detail(kg)">
    <td class="col-xs-1"><a ng-href="/admin#/kindergarten/{{::kg.school_id}}/welcome" ng-click="$event.stopPropagation()">{{kg.school_id}}</a></td>
    <td class="col-xs-1">{{kg.created_at | date:'yy-MM-dd'}}</td>
    <td class="col-xs-2"><a ng-href="/admin#/kindergarten/{{::kg.school_id}}/welcome" ng-click="$event.stopPropagation()">{{kg.full_name}}</a></td>
    <td class="col-xs-2">{{kg.address}}</td>
    <td class="col-xs-1">{{kg.children}}</td>
    <td class="col-xs-1">{{kg.parents}}</td>
    <td class="col-xs-1">{{kg.monthly.logged_ever}}</td>
    <td class="col-xs-1">{{kg.monthly.logged_once}}</td>
    <td class="col-xs-1">导出</td>
  </tr>
  </tbody>
</table>

<button type="submit" class="btn btn-success col-xs-offset-1 col-xs-2" ng-disabled="loading || !export"
        ng-csv="export()" csv-header="exportHeader()" add-bom="U+FEFF"
        filename="{{csvName}}">导出{{currentMonth}}数据
</button>
<button class="btn btn-warning col-xs-offset-1 col-xs-2" ng-click="switchToRealTime()">统计到昨天</button>
