<h2>用户统计</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>
</div>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-2">学校名称</th>
    <th class="col-xs-3">家长总数</th>
    <th class="col-xs-3">学生总数</th>
    <th class="col-xs-3">老师总数</th>
    <th class="col-xs-3">班级总数</th>

  </tr>
  </thead>
  <tbody>
  <tr class="row"><td class="col-xs-2">合计：</td>
    <td class="col-xs-3">{{allParents.length}}</td>
    <td class="col-xs-3">{{allChildren.length}}</td>
    <td class="col-xs-3">{{allEmployees.length}}</td>
    <td class="col-xs-3">{{allClasses.length}}</td>
  </tr>

  <tr ng-repeat="kg in kindergartens | filter: searchText" class="row" ng-class="{editable: detail}" ng-click="detail(kg)">
    <td class="col-xs-2"><a ng-href="/admin#/kindergarten/{{kg.school_id}}/welcome" ng-click="$event.stopPropagation()">{{kg.full_name}}</a></td>
    <td class="col-xs-3">{{kg.parents.length}}</td>
    <td class="col-xs-3">{{kg.children.length}}</td>
    <td class="col-xs-3">{{kg.employees.length}}</td>
    <td class="col-xs-3">{{kg.classes.length}}</td>
  </tr>
  </tbody>
</table>

