<h2>老师积分情况</h2>
<div class="well score-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>

</div>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed employee-list">
  <thead>
  <tr class="row">
    <th class="col-xs-2">老师姓名</th>
    <th class="col-xs-2">总分</th>
    <th class="col-xs-1">在园评价</th>
    <th class="col-xs-1">家园互动</th>
    <th class="col-xs-1">公告发布</th>
    <th class="col-xs-3">学校</th>
    <th class="col-xs-2">手机号</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="e in allEmployees | filter: searchText | filter: noOperator | filter: nonZero | orderBy:'+count'" class="row" ng-hide="loading">
    <td class="col-xs-2">{{e.name}}</td>
    <td class="col-xs-2">{{e.count}}</td>
    <td class="col-xs-1">{{e.assess.count || 0}}</td>
    <td class="col-xs-1">{{e.conversation.count || 0}}</td>
    <td class="col-xs-1">{{e.news.count || 0}}</td>
    <td class="col-xs-3"><a ng-href="/admin#/kindergarten/{{e.school_id}}/employee/score" ng-click="$event.stopPropagation()">{{e.school.name}}</a></td>
    <td class="col-xs-2">{{e.phone}}</td>
  </tr>
  </tbody>
</table>

