<div class="panel-heading"><h2>管理平板设备</h2></div>
<div class="panel-body well">
  <span>检索：</span>
  <input ng-model="searchText"/>
  <span>输入MAC地址，学校名称等进行过滤</span>
</div>
<div class="well device-management-panel">
  <form class="form-horizontal row" role="form" name="form">
    <div class="form-group col-sm-7"><label for="school-id" class="form-control-static">学校</label>
      <select id="school-id" class="form-control school-select" ng-model="device.school_id"
              ng-options="value.school_id as value.name for (key, value) in allSchools"
              data-style="btn-primary" name="school" required></select>
      <span class="error-field" ng-show="form.school.$dirty && form.school.$error.required">请选择学校</span>
    </div>
    <div class="form-group col-sm-7"><label for="mac" class="form-control-static">MAC地址</label>
      <input id="mac" name="mac" class="form-control" ng-model="device.mac" ui-mask="{{'**:**:**:**:**:**'}}" required
             placeholder="MAC地址"/>
      <span class="error-field" ng-show="form.mac.$dirty && form.mac.$error.required">请填写mac地址</span>
    </div>
    <div class="form-group col-sm-12">
      <button class="btn btn-primary"
              ng-click="device.mac=form.mac.$viewValue;save(device)" ng-disabled="form.$invalid">添加
      </button>

    </div>
  </form>
</div>
<table class="table table-hover table-condensed devices-list">
  <thead>
  <tr class="row">
    <th class="col-xs-2">#</th>
    <th class="col-xs-4">学校名称</th>
    <th class="col-xs-4">设备</th>
    <th class="col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="device in allDevices | filter: searchText | orderBy:'school_id'" class="row">
    <td class="col-xs-2">{{device.school_id}}</td>
    <td class="col-xs-4">{{device.school_name}}</td>
    <td class="col-xs-4" ng-hide="deviceEditing==device.id"><a ng-click="editDevice(device)">{{device.mac}}</a></td>
    <td class="col-xs-4" ng-show="deviceEditing==device.id">
      <form name="editForm"><input class="form-control" ui-mask="{{'**:**:**:**:**:**'}}" ng-model="device.mac" name="edit">
      <button class="inline-btn save-btn btn btn-xs btn-success">
        <span class="glyphicon glyphicon-ok" ng-click="device.mac=editForm.edit.$viewValue;updateDevice(device)"></span></button>
      <button class="inline-btn cancel-btn btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-remove" ng-click="cancelEditing(device)"></span></button></td></form>

    <td class="col-xs-2">
      <button class="btn btn-xs btn-danger" ng-click="delete(device)">删除
      </button>
    </td>
  </tr>
  </tbody>
</table>

