.hoverBkImage(@x) {
  background-image: e(%("url(../../images/v2/%s_mouseOver.png)", @x));
}

.bkImage(@x) {
  background-image: e(%("url(../../images/v2/%s.png)", @x));
}

.littleFeatureImage(@x) {
  background-image: e(%("url(../../images/v2/sub-feature-%s.png)", @x));
}

.slidesjs-pagination {
  display: none;
}

#slides {
  width: 1190px;
  .hero {
    width: 1190px;
  }
}

.page-hero {
  margin: 0 auto;
  overflow: hidden;
  width: 1190px;
  &.software {
    height: 350px;
  }
  &.app {
    height: 560px;
  }
  &.agent {
    height: 216px;
  }
}

#slides {
  margin: 0 auto;
}

.features {
  width: 1190px;
  margin: 0 auto;
}

.feature {
  height: 300px;
  width: 20%;
  margin: 20px 0 0;
  .feature-image {
    height: 136px;
    width: 136px;
    margin: 0 auto;
  }

  .feature-button {
    margin: 20px auto 0;
    width: 146px;
    height: 50px;
    .bkImage('button');
    text-align: center;
    color: #169ADA;
    font-size: 18px;
    line-height: 50px;
  }
  .feature-desc {
    text-align: center;
    font-size: 14px;
    width: 146px;
    margin: 20px auto 0;
  }
  .feature-image.app {
    .bkImage('app')
  }
  .feature-image.monitor {
    .bkImage('monitor')
  }
  .feature-image.server {
    .bkImage('server')
  }
  .feature-image.card {
    .bkImage('card')
  }
  .feature-image.bus {
    .bkImage('bus')
  }

  &:hover {
    .feature-button {
      .hoverBkImage('button');
      color: white;
    }
    .feature-image.app {
      .hoverBkImage('app')
    }
    .feature-image.monitor {
      .hoverBkImage('monitor')
    }
    .feature-image.server {
      .hoverBkImage('server')
    }
    .feature-image.card {
      .hoverBkImage('card')
    }
    .feature-image.bus {
      .hoverBkImage('bus')
    }
    .feature-desc {
      color: #169ADA;
    }
  }

}

.solution-background {
  width: 1190px;
  height: 500px;
  margin: 0 auto 10px;
  background-image: url(../../images/v2/solution.png);
  .inner-content {
    margin-left: 576px;
    padding-top: 44px;
    .title {
      margin-left: 20px;
      font-size: 24px;
      font-weight: 700;
    }
    .desc {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .inner-space {
    padding-top: 20px;
    padding-left: 341px;
    width: 910px;
    .solution {
      margin: 10px;
      width: 169px;
      height: 90px;
      border: 1px solid black;
      font-size: 13px;
      padding: 10px;
      span {
        padding-left: 10px;
      }
      p {
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}

.section.gray {
  background-color: #f2f2f2;
}

.software-feature {
  width: 1190px;
  margin: 20px auto 0;
  padding: 20px;
  color: #666;
  line-height: 28px;
  &.gray {
    background-color: #f2f2f2;
  }
  .feature-title {
    width: 140px;
    height: 40px;
    background: url(../../images/v2/feature-title.png) no-repeat;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 auto;
    &.longer {
      width: 165px;
      background: url(../../images/v2/longer-feature-title.png) no-repeat;
    }
  }
  .feature-desc {
    margin-left: 140px;
    margin-top: 30px;
    width: 655px;
  }
  .big-monitor {
    background-image: url(../../images/v2/big-monitor.png);
    width: 355px;
    height: 301px;
    float: left;
    margin-left: 5%;
  }
  .class-screen {
    width: 355px;
    height: 301px;
    float: right;
    background: url(../../images/v2/class-screen.png) no-repeat;
    background-size: 100%;
    margin-right: 70px;
  }
  .big-monitor-desc {
    width: 655px;
    margin-left: 35%;
    margin-top: 66px;
    line-height: 28px;
  }
  .little-monitor-features {
    width: 940px;
    margin-left: 35%;
    .little-feature {
      padding: 0;
      width: 105px;
      text-align: center;
      margin-left: 20px;
      p {
        width: 98px;
      }
      .image {
        margin: 10px auto;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        &.play {
          .littleFeatureImage('play')
        }
        &.food {
          .littleFeatureImage('food')
        }
        &.music {
          .littleFeatureImage('music')
        }
        &.bulletin {
          .littleFeatureImage('bulletin')
        }
        &.video {
          background-size: 50px 52px;
          .littleFeatureImage('video')
        }
        &.card {
          .littleFeatureImage('card')
        }
      }

    }
  }
  .classes-desc {
    width: 560px;
    margin-left: 6%;
    margin-top: 66px;
    line-height: 28px;
  }
  .little-classes-features {
    width: 720px;
    margin-left: 5%;
    .little-feature {
      padding: 0;
      width: 130px;
      text-align: center;
      margin-left: 30px;
      p {
        width: 112px;
      }
      .image {
        margin: 10px auto;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
        &.checkin {
          .littleFeatureImage('checkin')
        }
        &.checkout {
          .littleFeatureImage('checkout')
        }
        &.gate {
          .littleFeatureImage('gate')
        }
        &.wifi {
          .littleFeatureImage('wifi')
        }
      }

    }
  }
}

.hardware-feature {
  width: 1190px;
  margin: 20px auto 0;
  padding: 20px;
  &.gray {
    background-color: #f2f2f2;
  }
  .feature-title {
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 0 auto;
    width: 303px;
  }
  .gate-g-photo {
    background-image: url(../../images/v2/gate-g.png);
    width: 216px;
    height: 495px;
    float: left;
    margin-left: 5%;
  }
  .gate-a-photo {
    background-image: url(../../images/v2/gate-a.png);
    background-size: 357px 262px;
    width: 357px;
    height: 262px;
    float: right;
    margin-right: 5%;
  }

  .bus-machine {
    background-image: url(../../images/v2/bus-machine.png);
    background-size: 216px 278px;
    width: 216px;
    height: 278px;
    float: right;
    margin-right: 5%;
  }
  .class-machine {
    background-image: url(../../images/v2/class-machine.png);
    background-size: 307px 194px;
    width: 307px;
    height: 194px;
    float: left;
    margin-left: 5%;
  }

  .private-camera {
    background-image: url(../../images/v2/private-camera.png);
    background-size: 181px 225px;
    width: 181px;
    height: 225px;
    float: left;
    margin-left: 5%;
  }
  .little-features {
    margin-top: 50px;
    &.little-features-gate-g {
      width: 1100px;
      margin-left: 5%;
      margin-top: 100px;
    }
    &.little-features-gate-a {
      .row-1 {
        width: 800px;
        margin-top: 100px;
        margin-left: 5%;
      }
      .row-2 {
        width: 1100px;
        margin-top: 50px;
        margin-left: 5%;
      }
    }
    &.little-features-bus {
      margin-left: 100px;
      width: 800px;
      .little-feature {
        width: 150px;
        p {
          margin-top: 40px;
          width: 150px;
        }
      }
    }
    &.little-features-private-camera {
      margin-left: 290px;
      width: 1100px;
      .little-feature {
        margin-left: 1%;
        width: 150px;
        p {
          width: 150px;
        }
      }
    }
  }

  .little-feature {
    padding: 0;
    width: 180px;
    text-align: center;
    margin-left: 1%;
    p {
      width: 180px;
    }
    .image {
      margin: 10px auto;
      width: 70px;
      height: 70px;
      background-size: 70px 70px;
      &.big-screen {
        .littleFeatureImage('big-screen')
      }
      &.offline {
        .littleFeatureImage('offline')
      }
      &.ic-card, &.confirmation {
        .littleFeatureImage('ic-card')
      }
      &.camera {
        .littleFeatureImage('camera')
      }
      &.warning-audio {
        .littleFeatureImage('warning-audio')
      }
      &.photo, &.status {
        .littleFeatureImage('photo')
      }
      &.checkin, &.push-message {
        .littleFeatureImage('profile')
      }
      &.wifi {
        .littleFeatureImage('wifi')
      }
      &.pills {
        .littleFeatureImage('pills')
      }
      &.feedback, &.gps, &.component {
        .littleFeatureImage('feedback')
      }
      &.app {
        .littleFeatureImage('app')
      }
      &.adsl {
        .littleFeatureImage('adsl')
      }
      &.browse {
        .littleFeatureImage('browse')
      }
      &.light {
        .littleFeatureImage('light')
      }
    }
  }
}

.methods {
  .image {
    width: 235px;
    height: 430px;
    background-size: 235px 430px;
    background: url(../../images/v2/download-instructions.png) no-repeat;
    &.first-step-image {
      background-position: 0 0;
    }
    &.second-step-image {
      background-position: -307px 0;
    }
    &.last-step-image {
      background-position: -615px 0;
    }
  }

}

.software-hero-title {
  margin-top: -335px;
  margin-left: 10%;
  color: white;
  .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .desc {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    &.desc-1 {
      margin-bottom: 20px;
    }
  }
  .link {
    margin-left: 300px;
    font-size: 20px;
    font-weight: 400;
  }
}

.install {
  margin: 10px auto;
  text-align: center;
  .title {
    font-size: 28px;
    font-weight: 400;
  }
  .desc {
    width: 558px;
    margin: 0 auto;
  }
}

.methods {
  width: 800px;
  margin: 10px auto;
  .step {
    width: 250px;
    .title {
      text-align: center;
    }
    .desc {
      height: 51px;
      font-size: 13px;
    }
  }
}

.qr-code-bar {
  width: 1190px;
  background-color: #f2f2f2;
  margin: 10px auto;
  .qr-code {
    width: 200px;
    padding-left: 10px;
    padding-top: 10px;
    &.weixin {
      margin-left: 0;
    }
    img {
      width: 170px;
      height: 170px;
    }
    p {
      width: 170px;
      text-align: center;
    }
  }
  .other-methods {
    line-height: 28px;
    width: 182px;
    font-weight: 400;
    margin-top: 40px;
    padding: 0;
    h4 {
      font-size: 20px;
    }
    &.app-store {
      width: 389px;
      padding: 0;
    }
  }

}

.download-links {
  width: 1190px;
  margin: 10px auto;
  .download-banner {
    width: 386px;
    height: 220px;
    background-size: 1190px 220px;
    &.pc {
      background: url(../../images/v2/download-banners.png) no-repeat 0 0;
    }
    &.app {
      background: url(../../images/v2/download-banners.png) no-repeat -400px 0;
    }
    &.teacher-app {
      background: url(../../images/v2/download-banners.png) no-repeat -800px 0;
    }
  }
  .link-panel {
    padding-left: 10px;
    padding-right: 0;
    &.pc {
      padding-left: 0;
    }
    &.app {
      padding-left: 5px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid #e3e3e3;
      width: 386px;
      text-align: center;
      line-height: 50px;
    }
    .desc {
      margin-top: 0;
      border: 1px solid #e3e3e3;
      border-top: none;
      width: 386px;
      height: 220px;
      margin-bottom: 0;
      ul {
        height: 112px;
        line-height: 28px;
        padding-top: 15px;
      }
      .download-button {
        text-align: center;
        width: 181px;
        height: 47px;
        margin: 25px auto 10px;
        span {
          display: none;
        }
        background: url(../../images/v2/pc-download-button.png) no-repeat;
        &.ios {
          background: url(../../images/v2/apple-download-button.png) no-repeat;
          float: right;
          margin-right: 10px;
        }
        &.android {
          background: url(../../images/v2/android-download-button.png) no-repeat;
          float: left;
          margin-left: 10px;
        }
      }
    }
  }
}

.featureIconBk(@x) {
  background: e(%("url(../../images/v2/feature-icon-%s.png) no-repeat", @x));
  &:hover {
    background: e(%("url(../../images/v2/feature-icon-%s-hover.png) no-repeat", @x));
  }
}

.appIconBk(@x) {
  background: e(%("url(../../images/v2/app-icon-%s.png) no-repeat", @x));
  background-size: 90px 90px;
  &:hover {
    .cover {
      width: 90px;
      height: 90px;
      background: url(../../images/v2/app-icon-cover.png) no-repeat;
      opacity: 0.2;
      margin-left: -15px;
    }
  }
}

.pc-screen-frame {
  .features {
    width: 530px;
    margin-left: 8%;
    float: left;
    .feature {
      margin-left: 30px;
      margin-bottom: 30px;
      span {
        display: none;
      }
      width: 98px;
      height: 112px;
      &.file {
        .featureIconBk('file')
      }
      &.security {
        .featureIconBk('security')
      }
      &.reception {
        .featureIconBk('reception')
      }
      &.health {
        .featureIconBk('health')
      }
      &.finance {
        .featureIconBk('finance')
      }
      &.warehouse {
        .featureIconBk('warehouse')
      }
      &.food {
        .featureIconBk('food')
      }
      &.communication {
        .featureIconBk('communication')
      }
    }
  }
  .feature-in-frame {
    width: 501px;
    height: 320px;
    background: url(../../images/v2/pc-screen-frame.png) no-repeat;
    float: right;
    background-size: 501px 320px;
    margin-right: 2%;
    overflow: hidden;
    .current-feature {
      margin-left: 46px;
      margin-top: 38px;
      width: 410px;
      overflow: hidden;
    }
    .feature-pc-screen {
      width: 410px;
      height: 194px;
    }
  }
}

.phone-screen-frame {
  .features {
    width: 650px;
    margin-left: 8%;
    float: left;
    .feature {
      .cover {
        background-image: none;
      }
      margin-left: 30px;
      margin-bottom: 30px;
      p, h4 {
        display: none;
      }
      width: 90px;
      height: 90px;
      &.history {
        .appIconBk('history')
      }
      &.video {
        .appIconBk('video')
      }
      &.push {
        .appIconBk('push')
      }
      &.conversation {
        .appIconBk('conversation')
      }
      &.schedule {
        .appIconBk('schedule')
      }
      &.food {
        .appIconBk('food')
      }
      &.bus {
        .appIconBk('bus')
      }
      &.bulletin {
        .appIconBk('bulletin')
      }
      &.performance {
        .appIconBk('performance')
      }
    }
  }

  .feature-in-frame {
    width: 291px;
    height: 580px;
    background: url(../../images/v2/phone-screen-frame.png) no-repeat;
    float: right;
    background-size: 291px 580px;
    margin-right: 5%;
    margin-top: -120px;
    overflow: hidden;
    .current-feature {
      width: 236px;
      height: 417px;
      margin-left: 26px;
      margin-top: 68px;
      overflow: hidden;
      .feature-phone-screen {
        background: url(../../images/v2/app-frame-bulletin.png) no-repeat -20px -70px;
        width: 236px;;
        height: 417px;
        background-size: 277px 559px;
      }
    }
  }
  .summary {
    margin-left: 12%;
    margin-top: -155px;
    width: 610px;
    .title {
      font-weight: 700;
    }
  }
}

.under-construction {
  width: 900px;
  margin: 20px auto;
}

.future-vision {
  width: 80%;
  margin: 10px auto;
  .section-title {
    color: #08ACD1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .future {
    margin: 10px auto;
    .future-image {
      width: 100px;
      float: left;
    }
    .future-desc {
      margin-left: 110px;
      p {
        max-width: 350px;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }

}

.our-pros {
  .section-title {
    font-weight: 700;
    color: #666666;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
  }
  .all-pros {
    width: 90%;
    margin: 20px auto;
    .pro {
      width: 20%;
      .title {
        color: #08ACD1;
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
      }
      .desc {
        text-align: center;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }
}

.company {
  width: 70%;
  min-width: 1205px;
  margin: 20px auto;
  .advantages {
    float: left;
    width: 470px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 100px;
    .advantage {
      margin: 0;
      padding: 0;
      height: 150px;
      & > div {
        padding-left: 5px;
      }
      .advantage-image {
        width: 78px;
        height: 78px;
        &.power {
          background: url(../../images/v2/all-advantages.png) no-repeat -27px -79px;
        }
        &.training {
          background: url(../../images/v2/all-advantages.png) no-repeat -221px -79px;
        }
        &.client-service {
          background: url(../../images/v2/all-advantages.png) no-repeat -27px -231px;
        }
        &.marketing {
          background: url(../../images/v2/all-advantages.png) no-repeat -221px -231px;
        }
      }
      .title {
        font-size: 14px;
      }
      .desc {
        width: 96px;
      }
      &.power * {
        color: #F0830F;
      }
      &.client-service * {
        color: #2AADD1;
      }
      &.training * {
        color: #006666;
      }
      &.marketing * {
        color: #2C4455;
      }
    }

  }
  .summary {
    width: 650px;
    float: right;
    .summary-title {
      font-weight: 700;
      font-size: 20px;
      margin-left: 40px;
      color: #333333;
      margin-top: 50px;
    }
    li {
      line-height: 28px;
      font-weight: 400;
    }
  }

}

.what-do-we-need, .wish-you {
  padding-top: 20px;
  .requirements {
    width: 80%;
    margin: 20px auto;
  }
  .section-title {
    color: #08ACD1;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .title {
    color: #08ACD1;
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 60px;
    text-align: center;
  }
  .requirement-image {
    display: block;
    margin: 0 auto;
  }
}
