<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed contractor-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">编号</th>
    <th class="col-xs-2">内容</th>
    <th class="col-xs-2">投放范围</th>
    <th class="col-xs-2">投放状态</th>
    <th class="col-xs-2">有效期</th>
    <th class="col-xs-1">详情</th>
    <th class="col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="ad in activities | filter: searchText | orderBy: '+priority' : true " class="row">
    <td class="col-xs-1">{{ad.id}}</td>
    <td class="col-xs-2">{{ad.title}}</td>
    <th class="col-xs-2">{{distributedIn(ad).length}}所学校/{{parentsInSchools(distributedIn(ad))}}位家长</th>
    <td class="col-xs-2" ng-show="adminUser.privilege_group == 'operator'">
      <button type="button" class="btn btn-default publishing-status" ng-model="ad.publishing.publish_status"
              placeholder="{{currentStatus(ad)}}"
              ng-class="{success : ad.publishing.publish_status == 2, danger: ad.publishing.publish_status == 3,
              warning: ad.publishing.publish_status == 99, active: ad.publishing.publish_status == 4,
              inactive: ad.publishing.publish_status == 5}"
              ng-disabled="ad.actions.length == 0"
              ng-change="adminEdit(ad, '{{ad.publishing.publish_status}}');$event.stopPropagation()"
              ng-click="$event.stopPropagation()"
              bs-options="item.publish_status as item.display for item in ad.actions" bs-select></button>
    </td>
    <td class="col-xs-2" ng-hide="adminUser.privilege_group == 'operator'">
      <button type="button" class="btn btn-default publishing-status" ng-model="ad.publishing.publish_status"
              placeholder="{{currentStatus(ad)}}"
              ng-class="{success : ad.publishing.publish_status == 2, danger: ad.publishing.publish_status == 3,
              warning: ad.publishing.publish_status == 99, active: ad.publishing.publish_status == 4,
              inactive: ad.publishing.publish_status == 5}"
              ng-disabled="ad.actions.length == 0"
              ng-change="userEdit(ad, '{{ad.publishing.publish_status}}');$event.stopPropagation()"
              ng-click="$event.stopPropagation()"
              bs-options="item.publish_status as item.display for item in ad.actions" bs-select></button>
    </td>
    <td class="col-xs-2">
      <p>{{ad.startDate}}</p>
      <p>~ {{ad.endDate}}</p>
    </td>
    <td class="col-xs-1">
      <a ng-show="ad.publishing.publish_status == 4" ng-csv="enrollmentOfActivity(ad)" csv-header="getHeader()"
         filename="{{ad.csvName}}" ng-click="$event.stopPropagation()">下载报名</a>
      <span ng-hide="ad.publishing.publish_status == 4">N/A</span>
    </td>
    <td class="col-xs-2">
      <button class="btn btn-xs btn-success" ng-show="allowToDistribute(ad)"
              ng-click="distribute(ad);$event.stopPropagation()">投放对象</button>
      <button class="btn btn-xs btn-warning" ng-click="editAd(ad);$event.stopPropagation()">
        {{published(ad) ? '查看' : '编辑'}}
      </button>
      <button class="btn btn-xs btn-danger" ng-confirm-msg="这个操作将彻底删除{{ad.name}}，确定继续?"
              ng-confirm-click="removeAd(ad);$event.stopPropagation()">删除
      </button>
      <button class="btn btn-xs btn-info" ng-hide="$first || !published(ad)"
              ng-click="moveToTop(ad);$event.stopPropagation()">置顶
      </button>
    </td>
  </tr>
  </tbody>
</table>

