<div class="panel panel-default">
  <div class="panel-heading" ng-hide="newAd.id">创建活动</div>
  <div class="panel-heading" ng-show="newAd.id">查看活动
    <span class="reject-reason"
          ng-show="newAd.publishing.publish_status == 3">拒绝理由：{{newAd.publishing.reject_reason}}</span>
    <span class="title-publish-status" ng-class="{success : newAd.publishing.publish_status == 2,
    warning: newAd.publishing.publish_status == 99}"
          ng-hide="newAd.publishing.publish_status == 3">{{currentStatus(newAd)}}</span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" name="commercialForm">
      <div class="form-group">
        <label for="title" class="control-label col-xs-2 title-line">活动标题 <span class="mandatory">*</span></label>

        <div class="col-xs-4">
          <input ng-bk-focus id="title" name="title" ng-model="newAd.title" class="form-control"
                 maxlength="15" placeholder="添加标题" ng-disabled="published(newAd)" required/>
          <span class="error-field"
                ng-show="commercialForm.title.$dirty && commercialForm.title.$error.required">请填写标题</span>
          <span class="error-field"
                ng-show="commercialForm.title.$dirty && commercialForm.title.$error.maxlength">标题请不要超过15个字符</span>
        </div>

        <div class="form-group col-xs-3">
          <button type="button" class="btn btn-default" ng-model="newAd.contractor" data-html="1"
                  placeholder="{{newAd.contractor.title || '所属商户'}}" ng-disabled="published(newAd)"
                  ng-click="$event.stopPropagation()" bs-options="c as c.title for c in contractors" bs-select></button>
        </div>
      </div>

      <div class="clearfix news-creation-form"></div>
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="commercial-image-preview col-xs-4 " ng-repeat="m in newAd.logos">
            <div kl-media-preview media="m" height="220" delete-callback="deleteLogo" form="commercialForm" all-medium="newAd.logos" clickable="true"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group" ng-hide="published(newAd)">
          <label for="news-pic" class="col-sm-4 control-label">上传 <span class="mandatory">*</span></label>

          <div class="col-sm-8">
            <kl-file-upload multiple="newAd.logos" user="adminUser.login_name" form="commercialForm" disabled="disableUploading" on-success="onUploadSuccess"
                            label="buttonLabel" field-name="logo" suffix="jpg|png" limitation="3"></kl-file-upload>
          </div>

        </div>
        <div class="form-group">
          <label for="point-capture" class="col-sm-4 control-label">位置信息 <span class="mandatory">*</span></label>
          <div class="col-sm-12">
            <span class="col-xs-offset-4">{{newAd.location.address || '暂无位置信息'}}</span>

            <div class="col-xs-offset-4 col-xs-6">
              <button class="btn btn-success" ng-hide="published(newAd)" ng-click="pickingUpPoint(newAd, commercialForm)">从地图定位
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="address" class="control-label col-xs-4">活动地址 <span class="mandatory">*</span></label>

          <div class="col-xs-8">
            <input id="address" name="address" ng-model="newAd.address" class="form-control"
                   placeholder="活动地点" ng-disabled="published(newAd)"/>
          </div>
        </div>
        <div class="form-group">
          <label for="contact" class="control-label col-xs-4">联系方式 <span class="mandatory">*</span></label>

          <div class="col-xs-8">
            <input id="contact" name="contact" ng-model="newAd.contact" class="form-control"
                   placeholder="联系方式" ng-disabled="published(newAd)"/>
          </div>
        </div>
        <div class="form-group">

          <label for="time-span" class="col-xs-4 control-label">有效期 <span class="mandatory">*</span></label>

          <div class="col-xs-8">
            <div class="control-group input-append">
              <input type="text" class="form-control datepicker-input" ng-model="newAd.startDate"
                     data-date-format="yyyy-MM-dd" data-date-type="string" data-min-date="today" data-autoclose="1"
                     name="startData" bs-datepicker placeholder="生效时间" ng-disabled="published(newAd)" required>
              <button type="button" class="btn datepicker-button" ng-disabled="true"><i
                class="glyphicon glyphicon-calendar"></i></button>
            </div>


            <div class="control-group input-append">
              <input type="text" class="form-control datepicker-input" ng-model="newAd.endDate"
                     data-date-format="yyyy-MM-dd" data-date-type="string" data-min-date="today" data-autoclose="1"
                     name="endData" bs-datepicker placeholder="到期时间" ng-disabled="published(newAd)" required>
              <button type="button" class="btn datepicker-button" ng-disabled="true"><i
                class="glyphicon glyphicon-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="discounted" class="col-xs-4 control-label">打折信息 <span class="mandatory">*</span></label>

          <div class="col-xs-11">
            <label for="discounted" class="col-xs-4 control-label">折扣价</label>

            <div class="col-xs-6">
              <input id="discounted" name="discounted" ng-model="newAd.price.discounted" class="form-control"
                     type="number" ng-disabled="published(newAd)"
                     placeholder="￥折扣价" required/>
              <span class="error-field"
                    ng-show="commercialForm.discounted.$dirty && commercialForm.discounted.$error.number">只能输入带小数点的价格</span>
            </div>
          </div>
          <div class="col-xs-11">
            <label for="origin-price" class="col-xs-4 control-label">原价</label>

            <div class="col-xs-6">
              <input id="origin-price" name="originPrice" ng-model="newAd.price.origin" class="form-control"
                     type="number" ng-disabled="published(newAd)"
                     placeholder="￥原价"/>
              <span class="error-field"
                    ng-show="commercialForm.originPrice.$dirty && commercialForm.originPrice.$error.number">只能输入带+小数点的价格</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group news-content">
        <label for="content" class="control-label col-xs-2">活动介绍 <span class="mandatory">*</span></label>
        <br/>
        <small ng-show="commercialForm.content.$dirty && newAd.detail.length >= 0">还可以输入{{ 2000 - newAd.detail.length}}个字</small>
        <span class="error-field" ng-show="commercialForm.content.$dirty && commercialForm.content.$error.required">请填写正文内容</span>
      <span class="error-field"
            ng-show="commercialForm.content.$dirty && commercialForm.content.$error.maxlength">正文内容请不要超过2000个字符</span>

        <div class="col-xs-8">
          <textarea ng-disabled="published(newAd)" id="content" name="content" ng-model="newAd.detail"
                    class="editing-content form-control new-ad-content" ng-maxlength="2000" placeholder="添加内容"
                    required></textarea></div>
      </div>


      <div class="panel-footer">
        <div ng-show="published(newAd)" class="issue-date">已于{{newAd.publishing.published_at | date:'yyyy年MM月dd日 HH:mm'}}审批通过
        </div>
        <div ng-hide="published(newAd)" class="issue-date">未发布</div>

        <div class="btn-group">

          <button class="btn btn-primary" ng-disabled="commercialForm.$invalid || uploading"
                  ng-show="canBePreviewed(newAd) && adminUser.privilege_group == 'agent'"
                  ng-click="preview(newAd)">提交审批
          </button>
          <button class="btn btn-danger" ng-show="canBeRejected(newAd)" ng-click="rejectDialog(newAd)">拒绝
          </button>
          <button class="btn btn-success" ng-show="canBeApproved(newAd)" ng-click="approve(newAd)">批准
          </button>
          <button class="btn btn-default" ng-click="$hide()">关闭</button>
          <button class="btn btn-danger" ng-show="published(newAd) || newAd.id" ng-confirm-msg="你确定要删除吗?"
                  ng-confirm-click="removeAd(newAd)">删除
          </button>
          <button class="btn btn-info" ng-disabled="commercialForm.$invalid || uploading || commercialForm.$pristine || !validActivity(newAd)"
                  ng-hide="canBePreviewed(newAd) && !adminUser.privilege_group == 'operator'"
                  ng-click="save(newAd)">保存
          </button>
        </div>
      </div>
    </form>
  </div>
</div>