<h2>广告管理</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading" ng-click="addNewAd()">增加广告</button>
  </div>
</div>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">编号</th>
    <th class="col-xs-3">内容</th>
    <th class="col-xs-2">展示状态</th>
    <th class="col-xs-2">有效期</th>
    <th class="col-xs-2">详情</th>
    <th class="col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="ad in commercials | filter: searchText | orderBy: 'id'" class="row"
      ng-class="{editable: editSchool, expired: kg.charge[0].status==0}" ng-click="editAd(ad);$event.stopPropagation()">
    <td class="col-xs-1"><a ng-href="/agent#/preview/{{ad.id}}" ng-click="$event.stopPropagation()">{{ad.id}}</a></td>
    <td class="col-xs-3">{{ad.title}} 投放数: {{ad.ads.length || 0}}, 投放家长数: 500</td>
    <td class="col-xs-2">
      <button type="button" class="btn btn-default" ng-model="ad.publish_status"
              placeholder="审批" ng-disabled="adminUser.privilege_group != 'operator'"
              ng-click="$event.stopPropagation()" bs-options="t for t in allStatus" bs-select></button>
    </td>
    <td class="col-xs-2">{{ad.time_span || 'N/A'}}</td>
    <td class="col-xs-2"><a ng-click="">反馈</a></td>
    <td class="col-xs-2">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="这个操作将彻底删除{{ad.name}}，确定继续?"
              ng-confirm-click="removeAd(ad);$event.stopPropagation()">删除
      </button>
    </td>
  </tr>
  </tbody>
</table>

