<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed contractor-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">编号</th>
    <th class="col-xs-2">名称</th>
    <th class="col-xs-1">类型</th>
    <th class="col-xs-2">投放对象</th>
    <th class="col-xs-1">活动数量</th>
    <th class="col-xs-1">投放状态</th>
    <th class="col-xs-1">有效期</th>
    <th class="col-xs-1">详情</th>
    <th class="col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="ad in contractors | filter: searchText | orderBy: 'publishing.publish_status' : true " class="row">
    <td class="col-xs-1"><a ng-href="/agent#/preview/{{ad.id}}" ng-click="$event.stopPropagation()">{{ad.id}}</a></td>
    <td class="col-xs-2">{{ad.title}}</td>
    <td class="col-xs-1">{{ad.category}}</td>
    <td class="col-xs-2">{{distributedIn(ad).length}}所学校/{{parentsInSchools(distributedIn(ad))}}位家长</td>
    <td class="col-xs-1">{{ad.activities.length || 0}}</td>
    <td class="col-xs-1" ng-show="adminUser.privilege_group == 'operator'">
      <button type="button" class="btn btn-default publishing-status" ng-model="ad.publishing.publish_status"
              placeholder="{{currentStatus(ad)}}"
              ng-class="{success : ad.publishing.publish_status == 2, danger: ad.publishing.publish_status == 3, warning: ad.publishing.publish_status == 99}"
              ng-disabled="!allowEditing(adminUser, ad)"
              ng-change="adminEdit(ad, '{{ad.publishing.publish_status}}');$event.stopPropagation()"
              ng-click="$event.stopPropagation()"
              bs-options="item.publish_status as item.display for item in adminStatus" bs-select></button>
    </td>
    <td class="col-xs-1" ng-hide="adminUser.privilege_group == 'operator'">
      <button type="button" class="btn btn-default publishing-status" ng-model="ad.publishing.publish_status"
              placeholder="{{currentStatus(ad)}}"
              ng-class="{success : ad.publishing.publish_status == 2, danger: ad.publishing.publish_status == 3, warning: ad.publishing.publish_status == 99}"
              ng-disabled="!allowEditing(adminUser, ad)" ng-change="preview(ad);$event.stopPropagation()"
              ng-click="$event.stopPropagation()"
              bs-options="item.publish_status as item.display for item in userStatus" bs-select></button>
    </td>
    <td class="col-xs-2">{{ad.time_span || 'N/A'}}</td>
    <td class="col-xs-1"><a ng-click="$event.stopPropagation()">反馈</a></td>
    <td class="col-xs-2">
      <button class="btn btn-xs btn-success" ng-show="allowToDistribute(ad)"
              ng-click="distribute(ad);$event.stopPropagation()">投放对象</button>
      <button class="btn btn-xs btn-warning" ng-click="editAd(ad);$event.stopPropagation()">编辑
      </button>
      <button class="btn btn-xs btn-danger" ng-confirm-msg="这个操作将彻底删除{{ad.name}}，确定继续?"
              ng-confirm-click="removeAd(ad);$event.stopPropagation()">删除
      </button>
    </td>
  </tr>
  </tbody>
</table>

