<div class="main-frame">

  <div class="header row">
    <nav class="navbar navbar-default pull-right row" role="navigation">
      <div class="admin-user-info-container container-fluid col-sm-10">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{currentAgent.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="admin-features collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right row" role="search">
            <h4 class="col-sm-7">您好, {{loggedUser.name}}</h4>
            <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
              个人中心<span class="caret"></span>
            </button>
            <ul class="dropdown-menu user-menu" role="menu">
              <li><a ng-click="editAgent(currentAgent)">查看信息</a></li>
              <li><a ng-click="changePassword(currentAgent)">修改登陆密码</a></li>
              <li ng-show="loggedUser.privilege_group == 'operator'"><a ng-href="/operation">去后台管理页面</a>
              <li class="divider"></li>
              <li><a class="logout-link" href="/logout">退出登陆</a></li>
            </ul>

          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>

      <!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row modules-list-container col-sm-2">
    <ul class="nav nav-pills nav-stacked modules-list actions">
      <li class="action" ui-sref-active="active">
        <a ui-sref="main.school" class="btn">
          学校管理
        </a>
      </li>
      <li class="action" ui-sref-active="active">
        <a ui-sref="main.commercial" ui-sref-opts="{reload: true}" class="btn">
          广告管理
        </a>
      </li>
      <li class="action" ui-sref-active="active">
        <a ui-sref="main.statistics" class="btn">
          数据统计
        </a>
      </li>
    </ul>

  </div>

  <div class="module-view-container">
    <div class="module-view" ui-view></div>
    <div class="clearfix"></div>
    <div class="footer agent-footer">
      <p>版权信息：成都库乐宝信息技术有限公司 All rights reserved. </p>
      <p>许可证：蜀ICP备14002494号</p>
    </div>
  </div>
</div>