<h2>学校信息</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="loading" ng-click="addSchool()">添加学校</button>
  </div>
</div>
<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">编号</th>
    <th class="col-xs-3">全名</th>
    <th class="col-xs-2">学生数</th>
    <th class="col-xs-2">家长数</th>
    <th class="col-xs-2">活跃度</th>
    <th class="col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="kg in currentAgent.schools | filter: searchText | orderBy: 'school_id'" class="row" >
    <td class="col-xs-1"><a ng-href="/admin#/kindergarten/{{::kg.school_id}}/welcome" ng-click="$event.stopPropagation()">{{::kg.school_id}}</a></td>
    <td class="col-xs-3">{{::kg.name}}</td>
    <td class="col-xs-2">20</td>
    <td class="col-xs-2">
               20
      </td>
    <td class="col-xs-2">
      <a ng-click="goActiveUser()">查看</a>
    </td>
    <td class="col-xs-2">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="这个操作将彻底删除{{::kg.name}}的所有数据，确定继续?"
              ng-confirm-click="delete(kg);$event.stopPropagation()">删除
      </button>
    </td>
  </tr>
  </tbody>
</table>

