<h4>{{currentMonthDisplay}}数据回顾</h4>

<table class="table table-hover table-condensed table-striped schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">#ID</th>
    <th class="col-xs-2">开园时间</th>
    <th class="col-xs-2">学校全称</th>
    <th class="col-xs-2">地区</th>
    <th class="col-xs-1">学生数</th>
    <th class="col-xs-1">家长数</th>
    <th class="col-xs-1">总用户数</th>
    <th class="col-xs-1">当月用户数</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="kg in currentAgent.schools | filter: searchText | orderBy: 'school_id'" class="row" >
    <td class="col-xs-1"><div kl-school-column="{{::kg.school_id}}" user="loggedUser"></div></td>
    <td class="col-xs-2">{{kg.school_created_at | date:'yy-MM-dd'}}</td>
    <td class="col-xs-2">{{::kg.name}}</td>
    <td class="col-xs-2">{{::kg.address}}</td>
    <td class="col-xs-1">{{kg.stats.child_count || 0}}</td>
    <td class="col-xs-1">{{kg.stats.parent_count || 0}}</td>
    <td class="col-xs-1">{{kg.stats.logged_ever || 0}}</td>
    <td class="col-xs-1">{{kg.stats.logged_once || 0}}</td>
    <td class="col-xs-1">
      <button type="submit" class="btn btn-xs btn-success" ng-disabled="loading" ng-csv="singleExport(kg)" add-bom="U+FEFF"
              csv-header="singleExportHeader()" filename="{{kg.csvName}}" ng-click="$event.stopPropagation()">导出历史记录</button>
      <button class="btn btn-danger btn-xs" ng-show="allowToDelete(currentMonth, kg.stats)" ng-disabled="loading"
                                 ng-confirm-msg="此操作会删除 {{kg.name}} {{currentMonth}}的统计数据，且删除之后不能回复，你确定要继续吗?"
                                 ng-confirm-click="deleteStats(kg.stats)">删除</button>
    </td>
  </tr>
  </tbody>
</table>

