<h4>{{currentWeekDisplay}}数据回顾</h4>

<table class="table table-hover table-condensed table-striped schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">#ID</th>
    <th class="col-xs-2">开园时间</th>
    <th class="col-xs-2">学校全称</th>
    <th class="col-xs-2">地区</th>
    <th class="col-xs-1">学生数</th>
    <th class="col-xs-1">家长数</th>
    <th class="col-xs-1">总用户数</th>
    <th class="col-xs-1">当周用户数</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="kg in currentAgent.schools | filter: searchText | orderBy: 'school_id'" class="row" >
    <td class="col-xs-1"><div kl-school-column="{{::kg.school_id}}" user="loggedUser"></div></td>
    <td class="col-xs-2">{{kg.school_created_at | date:'yy-MM-dd'}}</td>
    <td class="col-xs-2">{{::kg.name}}</td>
    <td class="col-xs-2">{{::kg.address}}</td>
    <td class="col-xs-1">{{currentWeekDataOf(kg.weeklyGroup).child_count || 0}}</td>
    <td class="col-xs-1">{{currentWeekDataOf(kg.weeklyGroup).parent_count || 0}}</td>
    <td class="col-xs-1">{{currentWeekDataOf(kg.weeklyGroup).logged_ever || 0}}</td>
    <td class="col-xs-1">{{currentWeekDataOf(kg.weeklyGroup).logged_once || 0}}</td>
    <td class="col-xs-1"></td>
  </tr>
  </tbody>
</table>

