<h2>学校信息</h2>
<div class="well schools-search-panel">
  <span>检索：</span>
  <input ng-model="searchText"/>

  <div class="btn-group" ng-show="false">
    <button type="submit" class="btn btn-primary" ng-disabled="loading" ng-click="addSchool()">添加学校</button>
  </div>
</div>

<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-1">编号</th>
    <th class="col-xs-3">全名</th>
    <th class="col-xs-2">地区</th>
    <th class="col-xs-1">学生数</th>
    <th class="col-xs-2">家长数</th>
    <th class="col-xs-2">总用户数</th>
    <th class="col-xs-1">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="kg in currentAgent.schools | filter: searchText | orderBy: 'school_id'" class="row" >
    <td class="col-xs-1"><div kl-school-column="{{::kg.school_id}}" user="loggedUser"></div></td>
    <td class="col-xs-3">{{::kg.name}}</td>
    <td class="col-xs-2">中国</td>
    <td class="col-xs-2">{{kg.stats.children}}</td>
    <td class="col-xs-2">{{kg.stats.all}}</td>
    <td class="col-xs-2">{{kg.lastActiveData.data.logged_ever}}</td>
    <td class="col-xs-1">
      <button type="submit" class="btn btn-xs btn-success" ng-disabled="loading" ng-csv="export(kg)" add-bom="U+FEFF"
              csv-header="exportHeader()" filename="{{kg.csvName}}" ng-click="$event.stopPropagation()">导出历史记录</button>
    </td>
  </tr>
  </tbody>
</table>

<!--<div ng-show="currentSchool && d3Data.length > 0">-->
  <!--<h3>{{currentSchool.name}} 用户活跃度</h3>-->
  <!--<kl-agent-active-bars data="d3Data" label="month" actual="rate" class="bar-image-container"></kl-agent-active-bars>-->
<!--</div>-->
<!--<div ng-show="currentSchool && d3Data.length == 0">-->
  <!--<h3>暂无 {{currentSchool.name}} 的用户活跃度数据</h3>-->
<!--</div>-->

