<h2>统计信息</h2>

<div class="loading" ng-show="loading"></div>
<table class="table table-hover table-condensed schools-list">
  <thead>
  <tr class="row">
    <th class="col-xs-2">幼儿园数量</th>
    <th class="col-xs-3">学生总人数</th>
    <th class="col-xs-3">家长总人数</th>
    <th class="col-xs-2">活跃用户数</th>
    <th class="col-xs-2">月活跃度</th>

  </tr>
  </thead>
  <tbody>
  <tr class="row">
    <td class="col-xs-2">5</td>
    <td class="col-xs-3">500</td>
    <td class="col-xs-3">1160</td>
    <td class="col-xs-2">1030</td>
    <td class="col-xs-2">1.22</td>
  </tr>
  </tbody>
</table>

<kl-agent-active-bars data="d3Data" label="date" actual="count" class="bar-image-container"></kl-agent-active-bars>

