<h2>按周查看数据统计</h2>
<ul class="nav nav-tabs">
  <li>
    <a ng-click="goMonthly()">按月统计</a>
  </li>
  <li class="active">
    <a>按周统计</a>
  </li>
</ul>
<div ng-show="allWeeklyData.length == 0"><h2>无周历史数据</h2><h3>如果不是最近新增学校,请联系库贝管理员.</h3></div>
<div ng-show="allWeeklyData.length > 0"><div class="well schools-search-panel">
  <label for="week-select">按周查看</label>

  <div class="row">
    <select class="form-control month-select col-xs-2" ng-model="currentWeek"
            ng-options="display(week) for week in pastWeeks" id="week-select"
            data-style="btn-primary"></select>
    <button type="submit" class="btn btn-success col-xs-offset-1 col-xs-2" ng-disabled="loading || !export"
            ng-csv="export()" csv-header="exportHeader()" add-bom="U+FEFF"
            filename="{{csvName}}">导出当周数据
    </button>
  </div>

</div>

<div class="agent-school-view" ui-view></div>
</div>
