<div class="panel panel-default add-message-panel">
  <h3>{{child.name}}小朋友的精彩瞬间</h3>

  <form class="form-horizontal" role="form" name="messageForm">
    <div class="panel-heading">
      <div class="chat-history">
        <table class="table table-hover table-condensed">
          <thead>
          <tr class="row">
            <th class="col-xs-2">记录人</th>
            <th class="col-xs-7">文字内容</th>
            <th class="col-xs-3">记录时间</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="c in conversations | filter: searchText " class="row" ng-click="preview(c, {reply: false})">
            <td class="col-xs-2">{{c.sender.name}}</td>
            <td class="col-xs-7">{{c.content | limitTo:50}}{{(c.content.length > 50) ? '...' : ''}}</td>
            <td class="col-xs-3">于{{c.timestamp | date:'yyyy年MM月dd日 HH:mm'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-body">
      <label for="content" class="control-label">回复内容</label>
      <br/>
      <small ng-show="message.content.length >= 0">还可以输入{{ 500 - message.content.length}}个字</small>
      <span class="error-field"
            ng-show="messageForm.content.$dirty && messageForm.content.$error.required && message.media.url">请填写回复内容</span>
      <span class="error-field"
            ng-show="messageForm.content.$dirty && messageForm.content.$error.maxlength">回复内容请不要超过500个字符</span>
      <textarea id="content" name="content" ng-model="message.content"
                class="editing-content form-control message-content" ng-maxlength="500"
                placeholder="对{{child.name}}的祝福。。。"
                ng-required="message.medium.length == ''"></textarea>


      <div class="col-sm-12">
        <div class="form-group row">
          <div class="image-preview col-xs-3 " ng-repeat="m in message.medium">
            <div kl-media-preview media="m" height="220" clickable="true"></div>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="message-pic" class="control-label">上传</label>
          <kl-file-upload user="adminUser.id" on-success="onUploadSuccess" disabled="disableUploading"
                          label="buttonLabel"></kl-file-upload>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="loading" ng-show="loading"></div>
      <div class="btn-group">
        <button class="btn btn-default" ng-click="$hide()">取消</button>
        <button class="btn btn-info" ng-disabled="messageForm.$invalid || uploading || (!message.content && message.medium.length==0)" ng-click="send(message) && $hide()">添加记录
        </button>
      </div>
    </div>
  </form>

</div>