<div class="panel panel-default">
  <div class="panel-heading">老师编辑</div>
<div class="panel-body">
  <form class="form-horizontal row employee-form" role="form" name="newEmployeeForm">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="employee-phone" class="col-sm-4 control-label">电话号码</label>

        <div class="col-sm-8">
          <input id="employee-phone" type="text" ng-model="employee.phone" name="phone"
                 ui-mask="{{'999-9999-9999'}}"
                 class="editing-field form-control" ng-bk-focus required kl-unique="employee" unique-identity="id" unique-type="employee" />
          <span class="error-field" ng-show="newEmployeeForm.phone.$dirty && newEmployeeForm.phone.$error.unique">与现有手机号重复！</span>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-name" class="col-sm-4 control-label">老师姓名</label>

        <div class="col-sm-8">
          <input id="employee-name" ng-model="employee.name" placeholder="请输入姓名" name="name"
                 class="editing-field form-control" required ng-change="checkName(employee, newEmployeeForm.name)"/>
          <span class="error-field" ng-show="newEmployeeForm.name.$dirty && newEmployeeForm.name.$error.unique">已存在重名老师，建议增加数字或其他字符以便混淆。</span>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-gender" class="col-sm-4 control-label">性别</label>

        <div class="col-sm-8">
          <div class="btn-group">
            <button type="button" class="btn select-button" ng-model="employee.gender" btn-radio="0">女</button>
            <button type="button" class="btn select-button" ng-model="employee.gender" btn-radio="1">男</button>
          </div>
        </div>
      </div>
      <div class="form-group">

        <label for="employee-birthday" class="col-sm-4 control-label">生日</label>

        <div class="col-sm-8">
          <div class="control-group input-append">
            <input type="text" class="form-control datepicker-input" ng-model="employee.birthday" placeholder="请选择生日"
                   data-date-format="yyyy-MM-dd" data-date-type="string" data-max-date="today" data-autoclose="1"
                   name="date2" bs-datepicker required>
            <button type="button" class="btn datepicker-button" ng-disabled="true"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="login-name" class="col-sm-4 control-label">登陆名字</label>

        <div class="col-sm-8">
          <input id="login-name" ng-model="employee.login_name" name="login_name" placeholder="每个老师的登录名必须唯一"
                 class="editing-field form-control" ng-show="employee.id == undefined || adminUser.privilege_group == 'operator'" ng-pattern="/^\w{3,16}$/" required/>
          <p class="form-control-static" ng-hide="employee.id == undefined || adminUser.privilege_group == 'operator'">{{employee.login_name}}</p>
          <span class="error-field" ng-show="newEmployeeForm.login_name.$dirty && newEmployeeForm.login_name.$error.pattern">登录名只能由3到16位数字和字母组成，不能包含特殊字符或者中文。</span>
        </div>
      </div>

      <div class="form-group" ng-show="employee.created_at">
        <label for="created-at" class="col-sm-4 control-label">创建时间</label>

        <div class="col-sm-8">
          <p id="created-at" class="form-control-static">{{employee.created_at | date:'yyyy年MM月dd日 HH:mm'}}</p>
        </div>
      </div>

      <div kl-score-board ng-model="employee" ng-if="employee.id"></div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="portrait-container">
          <img class="portrait" ng-src="{{employee.portrait || '/assets/images/portrait_placeholder.png'}}"
               alt="照片"/>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-pic" class="col-sm-4 control-label">上传头像</label>

        <div class="col-sm-8">
          <kl-file-upload ng-model="employee" user="adminUser.id" form="newEmployeeForm" field-name="portrait"
                          label="buttonLabel"></kl-file-upload>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-4 col-sm-8">
      <div class="form-group">
        <a class="btn btn-warning pull-right adding-button"
           ng-disabled="newEmployeeForm.$invalid || uploading || newEmployeeForm.$pristine"
           ng-click="save(employee)">保存</a>
        <a class="btn btn-default pull-right adding-button"
           ng-click="$hide()">取消</a>
      </div>
    </div>
  </form>
</div>
</div>

