<div class="panel-body">
  <form class="form-horizontal row employee-form" role="form" name="newEmployeeForm">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="employee-phone" class="col-sm-2 control-label">电话号码</label>

        <div class="col-sm-8">
          <input id="employee-phone" type="text" ng-model="employee.phone" name="phone"
                 ui-mask="{{'999-9999-9999'}}"
                 class="editing-field form-control" ng-bk-focus required/>
          <span class="error-field" ng-show="newEmployeeForm.phone.$dirty && isDuplicated(employee)">与现有手机号重复！</span>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-name" class="col-sm-2 control-label">老师姓名</label>

        <div class="col-sm-8">
          <input id="employee-name" ng-model="employee.name"
                 class="editing-field form-control" required/>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-gender" class="col-sm-2 control-label">性别</label>

        <div class="col-sm-8">
          <div class="btn-group">
            <button type="button" class="btn select-button" ng-model="employee.gender" btn-radio="0">女</button>
            <button type="button" class="btn select-button" ng-model="employee.gender" btn-radio="1">男</button>
          </div>
        </div>
      </div>
      <div class="form-group">

        <label for="employee-birthday" class="col-sm-2 control-label">生日</label>

        <div class="col-sm-8">
          <div class="control-group input-append">
            <input type="text" class="form-control datepicker-input" ng-model="employee.birthday"
                   data-date-format="yyyy-MM-dd" data-date-type="number" data-max-date="today" data-autoclose="1"
                   name="date2" bs-datepicker>
            <button type="button" class="btn datepicker-button" data-toggle="datepicker"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="login-name" class="col-sm-2 control-label">登陆名字</label>

        <div class="col-sm-8">
          <input id="login-name" ng-model="employee.login_name"
                 class="editing-field form-control" required/>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="portrait-container">
          <img class="portrait" ng-src="{{employee.portrait || '/assets/images/portrait_placeholder.png'}}"
               alt="照片"/>
        </div>
      </div>

      <div class="form-group">
        <label for="employee-pic" class="col-sm-4 control-label">上传头像</label>

        <div class="col-sm-8">
          <input type="file" id="employee-pic" fileupload="pic"/>
          <button class="btn btn-success btn-xs" ng-disabled="pic === undefined || pic.size > 200000"
                  ng-click="uploadPic(employee, pic)">上传头像
          </button>
          <span ng-class="{error : pic.size > 200000}" class="help-block">图片大小请不要超过200k</span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>


    <div class="col-sm-offset-4 col-sm-8">
      <div class="form-group">
        <a class="btn btn-warning pull-right adding-button"
           ng-disabled="newEmployeeForm.$invalid || isDuplicated(employee)"
           ng-click="save(employee)">保存</a>
        <a class="btn btn-default pull-right adding-button"
           ng-click="$hide()">取消</a>
      </div>
    </div>
  </form>
</div>

