<div class="panel-body">
  <h2>家长</h2>
  <form class="form-horizontal row" role="form" name="editAdultForm">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="parent-phone" class="col-sm-4 control-label">电话号码</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.phone}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-name" class="col-sm-4 control-label">家长姓名</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.name}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-gender" class="col-sm-4 control-label">性别</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.gender == 0 ? '女': '男'}}</p>
        </div>
      </div>
      <div class="form-group">

        <label for="parent-birthday" class="col-sm-4 control-label">生日</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.birthday}}</p>
        </div>
      </div>
      <div class="form-group">

        <label for="parent-member" class="col-sm-4 control-label">会员</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.member_status == 0 ? '未开通': '已开通'}}</p>
        </div>
      </div>

      <div class="form-group">

        <label for="video-member" class="col-sm-4 control-label">华迈视频</label>

        <div class="col-sm-8" >
          <p class="form-control-static" ng-show="parent.videoMember.account && !parent.pickingAccount">{{parent.videoMember.account}}</p>
          <p class="form-control-static" ng-hide="parent.videoMember.account || parent.pickingAccount">未开通，点击<a ng-click="parent.pickingAccount = true">分配</a>账号</p>
          <input kl-existing-video-account ng-show="parent.pickingAccount" class="form-control" name="account" ng-minlength="24"
                                               maxlength="24" placeholder="粘贴账号" ng-model="parent.videoMember.account" parent="parent" required/>
          <span class="error-field" ng-show="editAdultForm.account.$dirty && editAdultForm.account.$error.notExisting"><i class="glyphicon glyphicon-info-sign"></i>这个账号不存在，只能重用已有的账号</span>
          <span class="error-field" ng-show="editAdultForm.account.$dirty && editAdultForm.account.$error.required"><i class="glyphicon glyphicon-info-sign"></i>账号不能为空</span>
          <span class="error-field" ng-show="editAdultForm.account.$dirty && editAdultForm.account.$error.minLength"><i class="glyphicon glyphicon-info-sign"></i>账号必须32位长</span>
        <div>
          <a class="btn btn-success adding-button" ng-show="parent.pickingAccount" ng-disabled="editAdultForm.account.$invalid" ng-click="saveAccount(parent)">保存</a>
          <a class="btn btn-warning" ng-show="parent.pickingAccount" ng-click="parent.pickingAccount = false;editAdultForm.$setPristine();parent.videoMember.account=''">取消</a>
        </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="portrait-container">
          <img class="portrait" ng-src="{{parent.portrait || '/assets/images/portrait_placeholder.png' }}"
               alt="照片"/>
        </div>
      </div>


    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="parent-company" class="col-sm-2 control-label">公司</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{parent.company}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <label for="parent-school" class="col-sm-2 control-label">所在学校</label>

        <div class="col-sm-8">
          <p class="form-control-static"><a href="/admin#/kindergarten/{{school.school_id}}/relationship/type/connected">{{school.name}}</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12" ng-show="parent.pushAccount">
      <div class="form-group">
        <label for="parent-pushid" class="col-sm-2 control-label">pushid</label>

        <div class="col-sm-4">
          <p class="form-control-static">{{parent.pushAccount.pushId}}</p>
        </div>
        <label for="parent-token" class="col-sm-2 control-label">bind token</label>

        <div class="col-sm-4">
          <p class="form-control-static">{{parent.pushAccount.token}}</p>
        </div>
        <label for="parent-device" class="col-sm-2 control-label">设备</label>

        <div class="col-sm-4">
          <p class="form-control-static">{{parent.pushAccount.device}}</p>
        </div>
        <label for="parent-password" class="col-sm-2 control-label">加密密码</label>

        <div class="col-sm-4">
          <p class="form-control-static">{{parent.pushAccount.password}}</p>
        </div>
        <label for="parent-status" class="col-sm-2 control-label">状态</label>

        <div class="col-sm-4">
          <p class="form-control-static parent-status" ng-class="{removed: parent.status==0}">{{parent.status == 0 ? '已删除' : '正常'}}</p>
        </div>
        <label for="parent-app-version" class="col-sm-2 control-label" ng-show="parent.bindings" >已安装版本号</label>

        <div class="col-sm-4">
          <p class="form-control-static parent-app-version">{{parent.bindings.version_code}}</p>
        </div>
        <label for="parent-last-binding" class="col-sm-2 control-label" ng-show="parent.bindings">最后一次bind</label>

        <div class="col-sm-4">
          <p class="form-control-static parent-last-binding">{{parent.bindings.updated_at | date:'yyyy年MM月dd日 HH:mm' }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <div class="btn-group pull-right">
          <a class="btn btn-default adding-button"
             ng-click="cancel()">取消</a>
          <button ng-show="deletable(parent)" class="btn btn-danger" ng-confirm-msg="你确定要永久删除吗?（这种删除是无法恢复的）"
                  ng-confirm-click="delete(parent)">永久删除
          </button>
          <button ng-show="resetPassword" class="btn btn-warning" ng-confirm-msg="你确定要重置密码吗?"
                  ng-confirm-click="resetPassword(parent)">重置密码
          </button>
          <button ng-show="allowRevive(parent)" class="btn btn-info" ng-confirm-msg="你确定要恢复这个家长吗?"
                  ng-confirm-click="revive(parent)">原地复活
          </button>
          <button ng-show="hasTeacherInfo" class="btn btn-success"
                  ng-click="navigateTo(parent.phone, 'teacher')">编辑教师信息
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

