<h3 class="pull-left">{{child.name}}最近的评价</h3>
<a class="btn btn-primary pull-right adding-button adding-for-individual" ng-show="create" ng-click="create()">添加</a>
<table class="table table-hover table-condensed">
  <thead>
  <tr class="row">
    <th class="col-xs-2">老师</th>
    <th class="col-xs-1">情绪</th>
    <th class="col-xs-1">进餐</th>
    <th class="col-xs-1">睡觉</th>
    <th class="col-xs-1">集体活动</th>
    <th class="col-xs-1">游戏</th>
    <th class="col-xs-1">锻炼</th>
    <th class="col-xs-1">自理能力</th>
    <th class="col-xs-1">礼貌</th>
    <th class="col-xs-2">最近评价时间</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="a in allAssess | filter: searchText | orderBy:'timestamp':true " class="row" ng-click="preview(a)" ng-class="{editable: preview}">
    <td class="col-xs-2">{{a.publisher}}</td>
    <td class="col-xs-1">
      <rating ng-model="a.emotion" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.dining" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.rest" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.activity" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.game" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.exercise" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.self_care" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-1">
      <rating ng-model="a.manner" max="3" readonly="true"></rating>
    </td>
    <td class="col-xs-2">{{a.timestamp | date:'yyyy年MM月dd日'}}</td>
  </tr>
  </tbody>
</table>
