<a class="btn btn-primary pull-right adding-button" ng-show="create" ng-disabled="inCreating" ng-click="create()">新增亲子作业</a>

<table class="table table-hover table-condensed">
  <thead>
  <tr class="row">
    <th class="col-xs-1">#</th>
    <th class="col-xs-2">标题</th>
    <th class="col-xs-5">内容</th>
    <th class="col-xs-2">发布老师</th>
    <th class="col-xs-2">发布时间</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="a in assignments | filter: searchText" class="row" ng-click="edit(a)" ng-class="{editable: edit}">
    <td class="col-xs-1">{{a.id}}</td>
    <td class="col-xs-2">{{a.title}}</td>
    <td class="col-xs-5">{{a.content | truncate:200}}</td>
    <td class="col-xs-2">{{a.publisher}}</td>
    <td class="col-xs-2">{{a.timestamp | date:'yyyy年MM月dd日' }}</td>
  </tr>
  </tbody>
</table>