<ul class="nav nav-tabs">
  <li class="active">
    <a>乘车计划</a>
  </li>
  <li>
    <a ng-click="navigateToCreating()">车辆管理</a>
  </li>
</ul>
<ul class="nav nav-tabs" ng-show="allBuses.length > 0">
  <li ng-repeat="bus in allBuses" ng-class="{active: bus.id == currentBus.id}">
    <a ng-click="navigateTo(bus)">{{bus.id}}号车</a>
  </li>
</ul>
<div class="loading" ng-show="loading"></div>
<div class="panel panel-default">
  <h3>乘坐计划</h3>
  <p>点击学生名牌进行操作</p>
  <div class="panel-body row">
    <div class="well col-xs-offset-1 col-xs-10">
    <a ng-repeat="child in currentBus.plans" class="btn btn-info btn-xs col-xs-1" bs-dropdown="childDropDown(child)">{{child.name}}
    </a>
  </div>
  </div>

  <button class="btn btn-success"
          ng-click="addChildPlan(bus.driver)">添加小孩
  </button>
</div>
