<div class="panel-body">
  <h2>关系</h2>

  <form class="form-horizontal row" role="form" name="editCardForm">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="parent-phone" class="col-sm-4 control-label">电话号码</label>

        <div class="col-sm-8">
          <p class="form-control-static">{{relationship.parent.phone}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-name" class="col-sm-4 control-label">家长姓名</label>

        <div class="col-sm-8">
          <p class="form-control-static"><a
            ng-href="/admin#/kindergarten/{{school.school_id}}/relationship/type/connected/class/{{relationship.child.class_id}}/list">{{relationship.parent.name}}</a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="parent-status" class="col-sm-4 control-label">家长状态</label>

        <div class="col-sm-8">
          <p class="form-control-static" ng-show="relationship.parent.status==1">有效</p>
          <p class="form-control-static" ng-hide="relationship.parent.status==1">已删除</p>

        </div>
      </div>

      <div class="form-group">
        <label for="child-name" class="col-sm-4 control-label">学生姓名</label>

        <div class="col-sm-8">
          <p class="form-control-static"><a
            ng-href="/admin#/kindergarten/{{school.school_id}}/relationship/type/connected/class/{{relationship.child.class_id}}/list">{{relationship.child.name}}</a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="child-status" class="col-sm-4 control-label">学生状态</label>

        <div class="col-sm-8">
          <p class="form-control-static" ng-show="relationship.child.status==1">有效</p>
          <p class="form-control-static" ng-hide="relationship.child.status==1">已删除</p>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="portrait-container">
            <img class="portrait"
                 ng-src="{{relationship.parent.portrait || '/assets/images/portrait_placeholder.png' }}"
                 alt="照片"/>
          </div>
        </div>


      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="portrait-container">
            <img class="portrait" ng-src="{{relationship.child.portrait || '/assets/images/portrait_placeholder.png' }}"
                 alt="照片"/>
          </div>
        </div>


      </div>


      <div class="col-sm-12">
        <div class="form-group">
          <label for="parent-school" class="col-sm-2 control-label">所在学校</label>

          <div class="col-sm-8">
            <p class="form-control-static"><a
              ng-href="/admin#/kindergarten/{{school.school_id}}/relationship/type/connected">{{school.name}}</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <div class="btn-group pull-right">
            <a class="btn btn-default adding-button"
               ng-click="cancel()">取消</a>
            <button class="btn btn-danger" ng-confirm-msg="你确定要删除吗?"
                    ng-confirm-click="delete(parent)">删除
            </button>
          </div>
        </div>
      </div>
  </form>
</div>

