<div class="panel panel-default">
  <div class="panel-heading"><h4>班级管理</h4></div>
  <div class="panel-body">
    <span>检索：</span>
    <input ng-model="searchText"/>
    <span>输入内容进行查找</span>
  </div>
  <form class="form well no-padding classes-management-form">
    <button type="submit" class="btn btn-primary adding-for-individual" ng-disabled="loading"
            ng-click="addClass()">创建新班级
    </button>
  </form>
  <div kl-loading="loading" />
  <table class="table table-hover table-condensed classes-list" ng-hide="loading">
    <thead>
    <tr class="row">
      <th class="col-xs-4">班级名称</th>
      <th class="col-xs-4">负责老师</th>
      <th class="col-xs-4">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in classes | filter: searchText" class="row" ng-class="{editable: edit}" ng-click="edit(c)">
      <td class="col-xs-4">{{c.name}}</td>
      <td class="col-xs-4">{{c.managers.toString() || 'N/A'}}</td>
      <td class="col-xs-4">
        <button class="btn btn-xs btn-danger" ng-confirm-msg="你确定要删除吗?"
                ng-confirm-click="delete(c);$event.stopPropagation()">删除
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
