<div class="main-frame">

  <div class="header row">
    <nav class="navbar navbar-default pull-right" role="navigation">
      <div class="admin-user-info-container container-fluid col-sm-10">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{kindergarten.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="admin-features collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right row" role="search">
            <h4 class="col-sm-6">您好， {{adminUser.name}}</h4>
            <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
              个人中心<span class="caret"></span>
            </button>
            <ul class="dropdown-menu user-menu" role="menu">
              <li><a ng-href="#/kindergarten/{{kindergarten.school_id}}/welcome">欢迎页面</a></li>
              <li><a ng-click="edit(adminUser)">个人信息</a></li>
              <li><a ng-click="changePassword(adminUser)">修改密码</a></li>
              <li ng-show="adminUser.privilege_group == 'operator'"><a ng-href="/operation">去后台管理页面</a>
              </li>
              <li class="divider"></li>
              <li><a class="logout-link" href="/logout">退出登陆</a></li>
            </ul>

          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <div class="admin-user-portrait-container editable col-sm-2" ng-click="edit(adminUser)">
        <img class="portrait img-responsive"
             ng-src="{{adminUser.portrait || '/assets/images/portrait_placeholder.png' }}"
             alt="照片"/>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row modules-list-container col-lg-2">
    <ul class="nav nav-pills nav-stacked modules-list actions">
      <li class="action" ng-class="{active : isSelected('bulletin')}">
        <a ng-click="goBulletin()" class="btn news">
          <span>园内公告</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('conversation')}">
        <a class="btn conversation" ng-click="goConversation()">
          <span>家园互动</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('baby-status')}">
        <a class="btn assess" ng-click="goBabyStatus()">
          <span>在园表现</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('cookbook')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/cookbook" class="btn cookbook">
          <span>每周食谱</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('schedule')}">
        <a ng-click="goSchedule()" class="btn schedule">
          <span>课程表</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('assignment')}">
        <a class="btn assignment" ng-click="goAssignment()">
          <span>亲子作业</span>
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('history')}">
        <a class="btn history" ng-click="goHistory()">
          <span>成长历史</span>
        </a>
      </li>

      <li class="action">
        <a class="btn placeholder">
          <span>placeholder</span>
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('dailylog')}">
        <a ng-click="goDailyLog()" class="btn dailylog">
          <span>当日幼儿出勤</span>
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('bus-location')}" ng-show="bus">
        <a ng-click="goBusLocation()" class="btn bus-location">
          <span class="force-show">班车记录</span>
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('relationship')}">
        <a class="btn relationship" ng-click="goRelationshipManagement()">
          <span>幼儿园档案管理</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('member')}" ng-hide="disableMemberEditing">
        <a ng-click="goMemberList()" class="btn member">
          <span>开通手机号管理</span>
        </a>
      </li>
      <li class="action" ui-sref-active="active" ng-show="isSuperUser(adminUser)">
        <a ui-sref='kindergarten.classManagement({kindergarten: {{kindergarten.school_id}}})' class="btn classes">
          <span>班级管理</span>
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('employee')}" ng-show="isSuperUser(adminUser)">
        <a ng-click="goEmployeeList()" class="btn employee">
          <span>教职员设置</span>
        </a>
      </li>
      <li class="action" ui-sref-active="active">
        <a ui-sref='kindergarten.intro({kindergarten: {{kindergarten.school_id}}})' class="btn intro">
          <span>幼儿园简介</span>
        </a>
      </li>


    </ul>

  </div>
  <div class="module-view-container">
    <div class="module-view" ui-view></div>
  </div>
  <a ng-click="feedback()"><div class="feedback"></div></a>
</div>