<div class="main-frame">

  <div class="header">
    <div class="product-logo-container">
      <div class="product-logo"></div>
      <div class="rainbow-logo"></div>
    </div>
    <div class="title">
      <h2 class="content">{{kindergarten.school_info.name}} 学校管理系统</h2>

      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
          {{adminUser.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-href="#/kindergarten/{{kindergarten.school_id}}/welcome">欢迎页面</a></li>
          <li><a ng-click="changePassword(adminUser)">修改密码</a></li>
          <li ng-show="adminUser.privilege_group == 'operator'"><a ng-href="/operation">去后台管理页面</a></li>
          <li class="divider"></li>
          <li><a class="logout-link" href="/logout">退出登陆</a></li>
        </ul>
      </div>

    </div>
  </div>
  <span class="clearfix"></span>

  <div class="row modules-list-container">
    <ul class="nav nav-tabs modules-list actions">
      <li class="action" ng-class="{active : isSelected('bulletin')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/bulletin" class="btn btn-primary">
          园内公告
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('conversation')}">
        <a class="btn btn-danger" ng-click="goConversation()">
          家园互动
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('baby-status')}">
        <a class="btn btn-warning" ng-click="goBabyStatus()">
          在园表现
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('relationship')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/relationship" class="btn btn-primary">
          幼儿园档案管理
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('assignment')}">
        <a class="btn btn-success" ng-click="goAssignment()">
          亲子作业
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('intro')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/intro" class="btn btn-danger">
          幼儿园简介
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('cookbook')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/cookbook" class="btn btn-primary">
          每周食谱
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('schedule')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/schedule" class="btn btn-danger">
          课程表
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('employee')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/employee" class="btn btn-success">
          教职员设置
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('classes')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/class" class="btn btn-danger">
          班级管理
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('member')}">
        <a ng-click="goMemberList()" class="btn btn-primary">
          开通手机号管理
        </a>
      </li>
    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>