<div class="main-frame">

  <div class="header">
    <div class="product-logo-container">
      <div class="product-logo"></div>
      <div class="rainbow-logo"></div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{kindergarten.name}} 学校管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse col-sm-12" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
            <button type="button" class="btn btn-warning dropdown-toggle admin-user" data-toggle="dropdown">
              {{adminUser.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu user-menu" role="menu">
              <li><a ng-href="#/kindergarten/{{kindergarten.school_id}}/welcome">欢迎页面</a></li>
              <li><a ng-click="changePassword(adminUser)">修改密码</a></li>
              <li ng-show="adminUser.privilege_group == 'operator'"><a ng-href="/operation">去后台管理页面</a></li>
              <li class="divider"></li>
              <li><a class="logout-link" href="/logout">退出登陆</a></li>
            </ul>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row modules-list-container col-sm-2">
    <ul class="nav nav-pills nav-stacked modules-list actions">
      <li class="action" ng-class="{active : isSelected('bulletin')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/bulletin" class="btn btn-primary">
          园内公告
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('conversation')}">
        <a class="btn btn-danger" ng-click="goConversation()">
          家园互动
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('baby-status')}">
        <a class="btn btn-warning" ng-click="goBabyStatus()">
          在园表现
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('relationship')}">
        <a class="btn btn-primary" ng-click="goRelationshipManagement()">
          幼儿园档案管理
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </a>

      </li>
      <li class="action" ng-class="{active : isSelected('assignment')}">
        <a class="btn btn-success" ng-click="goAssignment()">
          亲子作业
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('intro')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/intro" class="btn btn-danger">
          幼儿园简介
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('cookbook')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/cookbook" class="btn btn-primary">
          每周食谱
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('schedule')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/schedule" class="btn btn-danger">
          课程表
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('employee')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/employee" class="btn btn-success">
          教职员设置
        </a>
      </li>
      <li class="action" ng-class="{active : isSelected('classes')}">
        <a ng-href="#/kindergarten/{{kindergarten.school_id}}/class" class="btn btn-danger">
          班级管理
        </a>
      </li>

      <li class="action" ng-class="{active : isSelected('member')}">
        <a ng-click="goMemberList()" class="btn btn-primary">
          开通手机号管理
        </a>
      </li>
    </ul>

  </div>
  <div class="col-sm-10">
    <!--<ol class="breadcrumb">-->
      <!--<li><a href="#">Home</a></li>-->
      <!--<li><a href="#">Library</a></li>-->
      <!--<li class="active">Data</li>-->
    <!--</ol>-->
    <div class="module-view" ui-view></div>
  </div>
</div>