<a class="btn btn-primary pull-right adding-button" ng-show="create" ng-disabled="inCreating" ng-click="create()">发布新公告</a>
<div class="row">
  <pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
              class="pagination-sm news-pagination" ng-change="onSelectPage(page)"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  <ul class="list-group news-list">
    <li class="list-group-item read-{{news.read}} news-item"
        ng-repeat="news in newsletters | filter: searchText | orderBy:'timestamp':true" ng-click="edit(news)" ng-class="{editable: edit}">
      <div>
        <div class="btn-group col-xs-5">
          <button class="btn btn-danger" ng-confirm-msg="你确定要删除吗?" ng-confirm-click="deleteNews(news)">删除
          </button>
          <button class="btn btn-primary" ng-show="!news.published" ng-click="publish(news);$event.stopPropagation()">发布</button>
        </div>
        <div class="col-xs-7">
          <div class="form-group row">
            <p class="form-control-static col-xs-4">范围：{{nameOf(news.class_id) || '全校'}}</p>
            <p class="form-control-static col-xs-3" ng-show="news.publisher.name">发布者：{{news.publisher.name}}</p>
            <p class="form-control-static col-xs-2" ng-show="news.feedback_required">
              <span class="glyphicon glyphicon-share-alt"></span>
              <a ng-show="news.published" ng-click="showFeedbacks(news);$event.stopPropagation()">需要回执</a>
              <span ng-show="!news.published">需要回执</span>
            </p>
            <p class="form-control-static col-xs-4" ng-show="news.tags.length > 0">标签：{{printTags(news.tags)}}</p>
          </div>
        </div>
      </div>
      <h4 class="list-group-item-heading">{{news.title}}</h4>

      <p class="list-group-item-text">{{news.content | truncate:200 }}</p>
      <span ng-hide="news.published" class="published pull-right">未发布</span>
      <span ng-show="news.published" class="issue-date pull-right">于{{news.timestamp | date:'yyyy年MM月dd日 HH:mm'}}发布</span>
      <div class="clearfix"></div>
    </li>
    <p class="no-news" ng-show="!loading && newsletters.length == 0">{{nameOf(current_class)}}还没有创建任何通知，请点击<a ng-click="create()">这里</a>创建</p>
  </ul>
  <div class="loading" ng-show="loading"></div>
</div>