<a class="btn btn-primary pull-right adding-button" ng-show="create" ng-disabled="inCreating" ng-click="create()">发布新公告</a>
<div class="row">
  <pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" page="currentPage" max-size="maxSize"
              class="pagination-sm news-pagination" on-select-page="onSelectPage(page)"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  <ul class="list-group col-sm-11 news-list">
    <li class="list-group-item read-{{news.read}} news-item"
        ng-repeat="news in newsletters | filter: searchText | orderBy:'timestamp':true" ng-click="edit(news)" ng-class="{editable: edit}">
      <div>
        <div class="btn-group col-xs-6">
          <button class="btn btn-danger" ng-confirm-msg="你确定要删除吗?" ng-confirm-click="deleteNews(news)">删除
          </button>
          <button class="btn btn-primary" ng-show="!news.published" ng-click="publish(news);$event.stopPropagation()">发布</button>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <p class="form-control-static">范围： {{nameOf(news.class_id) || '全校'}}</p>
          </div>
        </div>
      </div>
      <h4 class="list-group-item-heading">{{news.title}}</h4>

      <p class="list-group-item-text">{{news.content.substring(0,200)}}</p>
      <span ng-hide="news.published" class="published pull-right">未发布</span>
      <span ng-show="news.published" class="issue-date pull-right">于{{news.timestamp | date:'yyyy年MM月dd日 HH:mm'}}发布</span>
      <div class="clearfix"></div>
    </li>
    <p class="no-news" ng-show="!loading && newsletters.length == 0">{{nameOf(current_class)}}还没有创建任何通知，请点击<a ng-click="create()">这里</a>创建</p>
  </ul>
  <div class="loading" ng-show="loading"/>
</div>