<ul class="nav nav-tabs">
  <li ng-repeat="type in types" ng-class="{active: {{type.url == current_type}}}">
    <a ng-click="navigateTo(type)">{{type.name}}</a>
  </li>
</ul>
<button class="btn btn-success" ng-click="newChild()">创建小孩信息</button>
<button class="btn btn-primary" ng-click="newParent()">创建家长关联到小孩</button>
<button class="btn btn-warning" ng-click="newRelationship()">创建卡片（关联小孩和家长）</button>
<div class="loading" ng-show="loading" />
<table class="table table-hover table-condensed">
  <thead>
  <tr class="row">
    <th class=".col-xs-3">小孩姓名</th>
    <th class=".col-xs-4">班级</th>
    <th class=".col-xs-2">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="child in children | filter: searchText" class="row" ng-class="{'member-row': false, 'editable': editChild}" ng-click="editChild(child)">
    <td class=".col-xs-3">{{child.name}}</td>
    <td class=".col-xs-4">{{child.class_name}}</td>


    <td class=".col-xs-2">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="你确定要删除吗?"
              ng-confirm-click="delete(child)">删除 </button>

    </td>
  </tr>
  </tbody>
</table>