<ul class="nav nav-tabs">
  <li ng-repeat="type in types" ng-class="{active: {{::type.url == current_type}}}">
    <a ng-click="navigateTo(type)">{{::type.name}}</a>
  </li>
</ul>
<form class="form well">
<button class="btn btn-success" ng-disabled="loading" ng-click="newChild()">创建小孩信息</button>
<button class="btn btn-primary" ng-disabled="loading" ng-click="newParent()">创建家长关联到小孩</button>
<button class="btn btn-warning" ng-disabled="loading" ng-click="newRelationship()">创建卡片（关联小孩和家长）</button>
  </form>
<br/>
<button ng-disabled="!hasSelection(parents)" class="btn btn-danger btn-xs" ng-confirm-msg="你确定要删除吗?"
        ng-confirm-click="multipleDelete()" ng-show="config.deletable">删除选中项
</button>
<table class="table table-hover table-condensed">
  <thead>
  <tr class="row">
    <th class="col-xs-2" ng-if="config.deletable"><input type="checkbox" ng-model="selection.allCheck" ng-disabled="loading" ng-change="checkAll(selection.allCheck)"/> 全选</th>
    <th class="col-xs-2" ng-if="config.deletable">家长姓名</th>
    <th class="col-xs-4" ng-if="!config.deletable && backend">家长姓名</th>
    <th class="col-xs-4">电话号码</th>
    <th class="col-xs-4">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="parent in parents | filter: searchText" class="row" ng-class="{'member-row': parent.member_status, 'editable': editParent}" ng-disabled="loading" ng-click="editParent(parent)">
    <td class="col-xs-2" ng-if="config.deletable" ng-click="$event.stopPropagation()"><input type="checkbox" ng-model="parent.checked" ng-change="singleSelection(parent)"/></td>
    <td class="col-xs-2" ng-if="config.deletable">{{::parent.name}}</td>
    <td class="col-xs-4" ng-if="!config.deletable && backend">{{::parent.name}}</td>
    <td class="col-xs-4">{{::parent.phone | phone}}</td>

    <td class="col-xs-4">
      <button class="btn btn-xs btn-danger" ng-confirm-msg="你确定要删除吗?"
              ng-confirm-click="delete(parent)" ng-show="config.deletable">删除</button>
      <span ng-hide="config.deletable">该数据导入自管理云客户端</span>

    </td>
  </tr>
  </tbody>
</table>