<div class="panel panel-default">
  <div class="panel-heading"><h4>看宝宝账号管理</h4></div>
  <div class="panel-body">
    <span>检索：</span>
    <input ng-model="searchText"/>
    <span>输入内容进行查找</span>
  </div>

  <h4>已开通开宝宝的家长列表</h4>
  <div class="importing">
    <ul class="nav nav-tabs">
      <li ng-repeat="c in kindergarten.classes" ng-class="{active: c.class_id == current_class}">
        <a ng-click="navigateTo(c)">{{c.name}}</a>
      </li>
    </ul>
    <table class="table table-hover table-condensed schools-list">
      <thead>
      <tr class="row">
        <th class="col-xs-2">家长姓名</th>
        <th class="col-xs-4">手机</th>
        <th class="col-xs-4">已开通账号</th>
        <th class="col-xs-2">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="p in parentsInClass | filter: searchText " class="row">
        <td class="col-xs-2">{{p.detail.name}}</td>
        <td class="col-xs-4">{{p.detail.phone | phone}}</td>
        <td class="col-xs-4">{{p.account}}</td>
        <td class="col-xs-2">
          <button ng-disabled="loading" class="btn btn-xs btn-danger" ng-confirm-click="deleteAccount(p.detail)"
                  ng-confirm-msg="将关闭{{p.detail.name}}的看宝宝账号，是否继续？">关闭
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3>导入Excel开通看宝宝账号</h3>

  <div kl-excel-parse ng-model="excel" on-success="onSuccess"></div>
  <button ng-show="importingData.length > 0" ng-disabled="loading || newParentsInClass.length <= 0" class="btn btn-success" ng-confirm-click="import(newParentsInClass)"
          ng-confirm-msg="导入当前班级的{{newParentsInClass.length}}个账号。是否继续？">确认开通{{currentImportingClass}}
  </button>
  <button ng-show="importingData.length > 0" ng-disabled="loading || importingData.length <= 0" class="btn btn-primary" ng-confirm-click="import(importingData)"
          ng-confirm-msg="导入全部“可导入列表的”{{importingData.length}}个账号。是否继续？">全部开通
  </button>
  <button ng-show="importingData.length > 0" ng-disabled="loading" class="btn btn-default" ng-click="cancelImporting()">取消</button>
  <div class="row">
    <div class="col-xs-12" ng-show="importingData.length > 0">
      <h4>可导入列表</h4>

      <div class="importing">
        <ul class="nav nav-tabs">
          <li ng-repeat="c in importingClasses" ng-class="{active: c.name == currentImportingClass}">
            <a ng-click="navigateToImportingClass(c.name)">{{c.name}}</a>
          </li>
        </ul>
        <table class="table table-hover table-condensed parent-list">
          <thead>
          <tr class="row">
            <th class="col-xs-4">学生姓名</th>
            <th class="col-xs-4">家长姓名</th>
            <th class="col-xs-4">家长手机</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="d in newParentsInClass | filter: searchText " class="row correct-importing">
            <td class="col-xs-4">{{d.childName}}</td>
            <td class="col-xs-4">{{d.name}}</td>
            <td class="col-xs-4">{{d.phone | phone}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>