<div class="panel panel-default">
  <div class="panel-heading"><h4>看宝宝账号管理</h4></div>
  <div class="well"><span>检索：</span>
    <input ng-model="searchText"/>
    <span>输入内容进行查找</span></div>
  <div class="loading" ng-show="loading"></div>
  <h4>已开通开宝宝的家长列表</h4>

  <div class="importing">
    <table class="table table-hover table-condensed schools-list">
      <thead>
      <tr class="row">
        <th class="col-xs-4">家长姓名</th>
        <th class="col-xs-4">手机</th>
        <th class="col-xs-4">已开通账号</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="p in parents | filter: searchText " class="row">
        <td class="col-xs-4">{{p.detail.name}}</td>
        <td class="col-xs-4">{{p.detail.phone | phone}}</td>
        <td class="col-xs-4">{{p.account}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3>导入Excel开通看宝宝账号</h3>

  <div kl-excel-parse ng-model="excel" on-success="onSuccess"></div>
  <button ng-show="importingData" class="btn btn-success" ng-click="import(importingData)">导入</button>
  <button ng-show="importingData" class="btn btn-default" ng-click="cancelImporting()">取消</button>
  <div class="row">
    <div class="col-xs-6" ng-show="importingData">
      <h4>可导入列表</h4>

      <div class="importing">
        <table class="table table-hover table-condensed parent-list">
          <thead>
          <tr class="row">
            <th class="col-xs-4">家长姓名</th>
            <th class="col-xs-4">手机</th>
            <th class="col-xs-4">班级</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="d in importingData | filter: searchText " class="row correct-importing">
            <td class="col-xs-4">{{d['家长A姓名']}}</td>
            <td class="col-xs-4">{{d['家长A手机号'] | phone}}</td>
            <td class="col-xs-4">{{d['所属班级']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-show="errorData">
      <h4>错误数据</h4>

      <div class="importing error-importing">
        <table class="table table-hover table-condensed parent-list">
          <thead>
          <tr class="row">
            <th class="col-xs-2">家长姓名</th>
            <th class="col-xs-3">手机</th>
            <th class="col-xs-3">班级</th>
            <th class="col-xs-4">错误信息</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="d in errorData | filter: searchText " class="row">
            <td class="col-xs-2">{{d['家长A姓名']}}</td>
            <td class="col-xs-3">{{d['家长A手机号'] | phone}}</td>
            <td class="col-xs-3">{{d['所属班级']}}</td>
            <td class="col-xs-4">{{d.error}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12" ng-show="enabledData">
      <h4>以下家长已经开通看宝宝</h4>

      <div class="importing imported">
        <table class="table table-hover table-condensed parent-list">
          <thead>
          <tr class="row">
            <th class="col-xs-4">家长姓名</th>
            <th class="col-xs-4">手机</th>
            <th class="col-xs-4">班级</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="d in enabledData | filter: searchText " class="row">
            <td class="col-xs-4">{{d['家长A姓名']}}</td>
            <td class="col-xs-4">{{d['家长A手机号'] | phone}}</td>
            <td class="col-xs-4">{{d['所属班级']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>