<h2>重置密码</h2>
<h3>请输入您的电话号码，我们将发送验证码到您在系统中注册的手机</h3>
<div class="well phone-input-panel">
  <form class="form-horizontal row" role="form" name="form">
    <div class="form-group col-sm-5"><label for="phone" class="form-control-static">手机号</label>
      <input id="phone" name="phone" class="form-control" ng-model="phone" ng-pattern="/^\d{11}$/" required/>
      <span class="error-field" ng-show="form.phone.$dirty && form.phone.$error.pattern">错误手机格式, 应为11位数字</span></div>
    <div class="form-group col-sm-12">
      <button class="btn btn-primary"
              ng-click="sendToken(phone)" ng-disabled="form.$invalid">获取注册码
      </button>
    </div>
  </form>

  <form class="form-horizontal row" role="form" name="tokenForm" ng-show="employee">
    <div class="form-group col-sm-5"><label for="phone" class="form-control-static">验证码</label>
      <input id="token" name="token" class="form-control" ng-model="token"
             ng-pattern="/^\d{6}$/" required/>
      <span class="error-field" ng-show="tokenForm.token.$dirty && tokenForm.token.$error.required">
    请输入验证码</span>
      <span class="error-field" ng-show="tokenForm.token.$dirty && tokenForm.token.$error.number">
    验证码是数字</span>
      <span class="error-field" ng-show="tokenForm.token.$dirty && tokenForm.token.$error.pattern">
    验证码长度不对</span>

      <div class="form-group col-sm-12">
        <button class="btn btn-primary"
                ng-click="validate(token)" ng-disabled="tokenForm.$invalid">输入验证码
        </button>
      </div>
    </div>
  </form>

</div>

