@scripts = {
  <script src="@routes.VersionedAssets.at("javascripts/vendor/jquery.slides.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/jslides.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("aboutUs")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {
  <div class="page-hero agent">
    <img class="hero" src="@routes.VersionedAssets.at("images/v2/about-us-banner.png")">
  </div>
  <div class="news-section section row">
    <div class="news-contents col-md-8">
      <h5>News information</h5>
    <h2>新闻动态</h2>
    <a href="#">更多新闻&nbsp;&nbsp;&gt;&gt;</a>
    <div class="news-list row">
      <ul>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">中班教育笔记：握握手，还是好朋友<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">幼儿教育笔记：唤起孩子们的同情心<span class="published-at">02-20</span></li>
        <li class="news col-md-6">中班教育笔记：握握手，还是好朋友<span class="published-at">02-20</span></li>
      </ul>
    </div></div>
    <div class="news-image col-md-4">
      <img src="@routes.VersionedAssets.at("images/v2/news-image.png")">
    </div>
  </div>
  <div class="images-section section">
    <div class="images-container row">
      <img class="image img-responsive col-md-3" src="@routes.VersionedAssets.at("images/v2/about-us-image-1.png")">
      <img class="image img-responsive col-md-4" src="@routes.VersionedAssets.at("images/v2/about-us-image-2.png")">
      <div class="col-md-3 row part-3">
        <img class="image upper-height img-responsive col-md-12" src="@routes.VersionedAssets.at("images/v2/about-us-image-31.png")">
        <img class="image lower-height img-responsive col-md-12" src="@routes.VersionedAssets.at("images/v2/about-us-image-32.png")">
      </div>
    </div>
  </div>
  <div class="company-profile-section section">
    <div class="container row">
      <img class="img-responsive col-md-4" src="@routes.VersionedAssets.at("images/v2/profile-logo.png")">
      <div class="desc col-md-8">
        <h5>Company profile</h5>
        <h2>关于库贝</h2>
        <p>
          成都库贝信息技术有限公司是一家专业从事幼教行业移动互联网应用，集研发、销售、运营于一体的高新技术企业，行业经验及技术能力均处于国内领先地位。公司团队为全国各地数千家幼儿园提供服务已超过7年，是国内少数几家能够提供幼儿园信息化全套解决方案的公司之一。
          公司以“安全接送+在园状态+家园互动+园务管理”为理念，提供幼儿园与家长最快捷的沟通渠道和园务信息化管理服务。以“家园畅通互动，共促宝宝快乐成长”为宗旨，本着“以科技守护校园”的原则，为每一家幼儿园度身定制解决方案，让宝宝在安全、健康的环境中快乐成长。</p>
      </div>
    </div>
  </div>
  <div class="product-profile-section section">
    <div class="desc">
      <h5>About Cobabys</h5>
      <h2>关于幼乐宝</h2>
      <p>“幼乐宝”是成都库贝信息技术有限公司旗下专业从事幼儿、家长和幼儿园三方互动沟通的移动互联网云平台解决方案，是集合业界多位网络安全专家、软件工程专家和儿童教育专家心血和多年研究成果的新一代幼儿园移动互联网信息服务。
        “幼乐宝”APP轻松解决了幼儿园和家长高效互动和口碑营销难题，通过人防和技防的结合，帮助幼儿园实现“数字化接送、网络化办公、安全化管理、便捷化互动”，幼儿园教师能够便捷完成每个宝宝每日的记录工作并实时呈现给家长，家长通过“幼乐宝”随时随地轻松了解到宝宝在园状态和成长信息，同时与老师建立起畅通互动的新型家园共育渠道，既帮助幼儿园不断增强服务品质，也有效提升家长对幼儿园的满意度和口碑传播的美誉度。同时，“幼乐宝”帮助幼儿园节省数以千计的文字和图片打印、装订、印刷、通讯等成本，更可多维度帮助幼儿园提升经济效益，是每个幼儿园喜闻乐见的跨时代产品，目前已得到了全国各地数千家幼儿园园长和家长的信任。</p>
    </div>
  </div>
  <div class="contact-us">
    <h2 class="section-title">联系我们</h2>
    <div class="container row">
      <div class="col-md-5">
        <h5>咨询客服&代理加盟&线上合作</h5>
        <p>请联系</p>
        <p>公司电话：028-61905012  028-86274527</p>
        <p>400 热线：400-008-0300</p>
        <p>企业QQ：4000080300 </p>
        <p class="gray">09:00 - 18:00（周一至周五）</p>
        <p>公司地址：四川省成都市高新区天府大道中段1388号美年广场D座4楼</p>
        <p>邮政编码：610041</p>
      </div>
      <div class="col-md-7">map</div>
    </div>
  </div>
  <div class="clearfix"></div>

}