  @scripts = {
    <script src="@routes.VersionedAssets.at("javascripts/vendor/jquery.slides.min.js")" type="text/javascript"
    xmlns="http://www.w3.org/1999/html"></script>
    <script src="@routes.VersionedAssets.at("scripts/jslides.js")" type="text/javascript"></script>
  }
    @styling = {
    <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
    <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
  }

@v2Main("becomeUser")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {


  <div class="page-hero app">
    <img class="hero" src="@routes.VersionedAssets.at("images/v2/app_hero.png")">
  </div>
  <div class="install">
    <p class="title">下载安装幼乐宝（推荐方法）</p>
    <p class="desc">微信关注公众号“幼乐宝”，公众号内点击幼乐宝下载安装。在下载安装使用幼乐宝过程中有任何困难，请联系客服电话：400-008-0300或通过企业QQ：4000080300咨询解决。</p>
  </div>
  <div class="methods row">
    <div class="first-step step col-lg-4">
      <h3 class="title">第一步</h3>
      <p class="desc">关注“幼乐宝”公众号。在公众号中点击“产品简介”，选择“幼乐宝下载”。</p>
      <div class="image first-step-image"></div>
    </div>
    <div class="second-step step col-lg-4">
      <h3 class="title">第二步</h3>
      <p class="desc">点击右上角，选择“在浏览器中打开”。</p>
      <div class="image second-step-image"></div>
    </div>
    <div class="last-step step col-lg-4">
      <h3 class="title">第三步</h3>
      <p class="desc">根据手机的的操作系统，使用苹果的用户选择“iPhone版”免费下载，使用安卓的用户选择“Android版”免费下载。</p>
      <div class="image last-step-image"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="qr-code-bar row">
    <div class="weixin qr-code col-lg-2"><img class="solution-icon" src="@routes.VersionedAssets.at("images/v2/qr_wechat.png")"><p>
      微信公众号</p></div>
    <div class="app qr-code col-lg-2"><img class="solution-icon" src="@routes.VersionedAssets.at("images/v2/qr_app.png")"><p>
      幼乐宝家长端</p></div>
    <div class="teacher-app qr-code col-lg-2"><img class="solution-icon" src="@routes.VersionedAssets.at("images/v2/qr_teacher.png")"><p>
      幼教宝教师端</p></div>
    <div class="other-methods col-lg-2">
      <h4>其他下载方法</h4>
      <p>扫描左边二维码下载<br>
        打开微信里的扫一扫功能，<br>
        扫描左图的二维码下载安装。</p>
    </div>
    <div class="app-store col-lg-4 other-methods">
      <h4>手机应用市场下载</h4>
      <p>苹果手机在App Store中搜索“幼乐宝”或“幼教宝”，下载安装。<br>
        三星、小米、华为、联想等安卓手机在360手机助手、豌豆荚、应用宝、小米商城等应用市场搜索“幼乐宝”，下载安装。</p>
    </div>
  </div>
  <div class="download-links row">
    <div class="pc link-panel col-lg-4">
      <div class="pc download-banner"></div>
      <h3>PC端 幼乐宝 幼儿园管理云</h3>
      <div class="desc">
        <ul>
          <li>数据实时传输，确保幼儿接送安全</li>
          <li>遗失卡片一键挂失</li>
          <li>信息实时处理</li>
          <li>无缝连接门闸、门禁、报警器等设备</li>
        </ul>
        <div class="clearfix"></div>
        <div class="download-button"><span>立刻下载</span></div>
      </div>
    </div>
    <div class="app link-panel col-lg-4">
      <div class="app download-banner"></div>
      <h3>幼乐宝（家长端）</h3>
      <div class="desc">
        <ul>
          <li>实时接收刷卡数据，校园通知立即知</li>
          <li>成长经历随拍随传，不错过宝宝的精彩瞬间</li>
          <li>家园互动，校园、家园沟通无缝</li>
          <li>实时查看幼儿园监控视频，宝宝安全一手掌握</li>
        </ul>
        <div class="download-button android"><span>安卓下载</span></div>
        <div class="download-button ios"><span>苹果下载</span></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="teacher-app link-panel col-lg-4">
      <div class="teacher-app download-banner"></div>
      <h3>幼教宝（教师端）</h3>
      <div class="desc">
        <ul>
          <li>家园互动，和家长沟通更容易</li>
          <li>在园评价，方便便捷，解放课余时间</li>
          <li>随拍随传，成长经历自动成册</li>
          <li>公告回执，保证消息传达到每个家长手中</li>
        </ul>
        <div class="download-button android"><span>安卓下载</span></div>
        <div class="download-button ios"><span>苹果下载</span></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="trial-form">
    <h1>幼儿园免费试用</h1>
    <h4>留下您的联系方式，我们马上为您送上服务哦~~~</h4>
    <form>
      <div class="form-group">
        <label for="name">幼儿园名称</label>
        <input id="name" type="text"/>
      </div>
      <div class="form-group">
        <label for="city">所在城市</label>
        <input id="city" type="text"/>
      </div>
      <div class="form-group">
        <label for="size">园所规模</label>
        <input id="size" type="text"/>
      </div>
      <div class="form-group">
        <label for="contact-name">联系人姓名</label>
        <input id="contact-name" type="text"/>
      </div>
      <div class="form-group">
        <label for="contact-number">联系人电话</label>
        <input id="contact-number" type="text"/>
      </div>
      <div class="form-group">
        <label for="contact-level">身份</label>
        <input id="contact-level" type="text"/>
      </div>
      <input type="submit" value="提交申请"/>
    </form>
  </div>
  <div class="clearfix"></div>

}