@scripts = {
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("hardware")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {


  <div class="page-hero software">
    <img class="solution-icon" src="@routes.VersionedAssets.at("images/v2/hardware-banner.png")">
  </div>
  <div class="hardware-feature">
    <div class="feature-title">G型立式门口机</div>
    <div class="gate-g-photo"></div>
    <div class="little-features-gate-g little-features row">
      <div class="little-feature col-md-2">
        <div class="image big-screen"></div>
        <p>21.5寸大屏幕操作，可视化界面，操作简单快捷</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image offline"></div>
        <p>可脱机使用<br>（和后台断开使用）</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image ic-card"></div>
        <p>IC/ID读卡模块可选</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image camera"></div>
        <p>200万高清摄像头，刷卡拍照、推送至APP</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image warning-audio"></div>
        <p>真人语音播报及预警</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image photo"></div>
        <p>闲时展示幼儿园通知、照片、视频等</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image checkin"></div>
        <p>刷卡展示家长幼儿信息及实时照片</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image wifi"></div>
        <p>支持Wifi、TCP/IP两种通讯模式</p>
      </div>
    </div>
  </div>

  <div class="hardware-feature gray">
    <div class="feature-title">A型挂式门口机</div>
    <div class="gate-a-photo"></div>
    <div class="little-features-gate-a little-features">
      <div class="row row-1">
        <div class="little-feature col-md-4">
          <div class="image offline"></div>
          <p>可脱机使用<br>（和后台断开使用）</p>
        </div>
        <div class="little-feature col-md-4">
          <div class="image ic-card"></div>
          <p>IC/ID读卡模块可选</p>
        </div>
        <div class="little-feature col-md-4">
          <div class="image camera"></div>
          <p>200万高清摄像头，刷卡拍照、推送至APP</p>
        </div>
      </div>
      <div class="row row-2">
        <div class="little-feature col-md-2">
          <div class="image big-screen"></div>
          <p>21.5寸大屏幕操作，可视化界面，操作简单快捷</p>
        </div>
        <div class="little-feature col-md-2">
          <div class="image warning-audio"></div>
          <p>真人语音播报及预警</p>
        </div>
        <div class="little-feature col-md-2">
          <div class="image photo"></div>
          <p>闲时展示幼儿园通知、照片、视频等</p>
        </div>
        <div class="little-feature col-md-2">
          <div class="image checkin"></div>
          <p>刷卡展示家长幼儿信息及实时照片</p>
        </div>
        <div class="little-feature col-md-2">
          <div class="image wifi"></div>
          <p>支持Wifi、TCP/IP两种通讯模式</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hardware-feature">
    <div class="feature-title">班级机</div>
    <div class="class-machine"></div>
    <div class="little-features-classes row little-features">
      <div class="little-feature col-md-2">
        <div class="image camera"></div>
        <p>持卡人在学校门口机刷卡，对应班级实时播报语音及照片</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image checkin"></div>
        <p>查询班级及全园当前出勤情况</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image pills"></div>
        <p>查询本班及全园幼儿生病及服药情况</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image feedback"></div>
        <p>接收幼儿园通知并进行反馈</p>
      </div>
    </div>
  </div>

  <div class="hardware-feature gray">
    <div class="feature-title">校车接送机</div>
    <div class="bus-machine"></div>
    <div class="little-features-bus row little-features">
      <div class="little-feature col-md-2">
        <div class="image gps"></div>
        <p>通过AGPS及GPS定位，家长通过手机APP可实时查看</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image status"></div>
        <p>严格区分早上出车接人和下午出车送人两种状态，幼儿信息一目了然</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image push-message"></div>
        <p>到园下车和离园上车均有消息推送给家长，老师需逐个点到</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image confirmation"></div>
        <p>家长接送车均需刷卡确认</p>
      </div>
    </div>
  </div>

  <div class="hardware-feature">
    <div class="feature-title">幼乐宝专用摄像头</div>
    <div class="private-camera"></div>
    <div class="little-features-private-camera row little-features">
      <div class="little-feature col-md-2">
        <div class="image app"></div>
        <p>配合幼乐宝APP使用，手机实时查看宝宝动态</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image adsl"></div>
        <p>传输码流极低，ADSL网络畅行无阻</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image browse"></div>
        <p>安装简便，可设置查看时间段及摄像点位</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image component"></div>
        <p>全金属结构6片光学玻璃镀膜镜头，宇瞳超百万像素120度广角镜头</p>
      </div>
      <div class="little-feature col-md-2">
        <div class="image light"></div>
        <p>第三代点阵式自动红外感应灯， WIFI模块更为先进</p>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

}