@scripts = {
  <script src="@routes.VersionedAssets.at("javascripts/vendor/jquery.slides.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/jslides.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("home")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {
  <div id="full-screen-slider">
    <div id="slides" class="page-hero">
      <li> <img class="hero" src="@routes.VersionedAssets.at("images/v2/app_hero.png")"></li>
      <li> <img class="hero" src="@routes.VersionedAssets.at("images/v2/software_hero.png")"></li>
      <li> <img class="hero" src="@routes.VersionedAssets.at("images/v2/hardware_hero.png")"></li>
    </div>
  </div>

  <div class="features row">
    <div class="col-lg-2 feature">
      <div class="feature-image app"></div>
      <div class="feature-button app">家园共育</div>
      <div class="feature-desc app">实时发布与接收幼儿在园的多媒体信息。</div>
    </div>
    <div class="col-lg-2 feature">
      <div class="feature-image card"></div>
      <div class="feature-button card">接送刷卡</div>
      <div class="feature-desc card">刷卡自动拍照将刷卡人照片推送到家长手机。</div>
    </div>
    <div class="col-lg-2 feature">
      <div class="feature-image bus"></div>
      <div class="feature-button bus">校车接送</div>
      <div class="feature-desc bus">定制设备自动记录推送校车定位及刷卡信息。</div>
    </div>
    <div class="col-lg-2 feature">
      <div class="feature-image server"></div>
      <div class="feature-button server">园务管理</div>
      <div class="feature-desc server">园务、财务、仓储、膳食等一体化信息管理。</div>
    </div>
    <div class="col-lg-2 feature">
      <div class="feature-image monitor"></div>
      <div class="feature-button monitor">实时监控</div>
      <div class="feature-desc monitor">手机实时查看幼儿在园动态。</div>
    </div>
  </div>

  <div class="solution-background">
    <div class="inner-space row">
      <div class="solution cloud col-lg-4">
        <img class="solution-icon" src="@routes.VersionedAssets.at("images/v2/cloud.png")">
        <span class="title">云服务器</span>
        <p class="desc">告别传统本地服务器，降低幼儿园硬件成本。</p>
      </div>
      <div class="solution card col-lg-4">
        <img class="solution-card" src="@routes.VersionedAssets.at("images/v2/card-machine.png")">
        <span class="title">门口机刷卡</span>
        <p class="desc">门口机刷卡拍照，出入安全更有保障。</p>
      </div>
      <div class="solution class col-lg-4">
        <img class="solution-class" src="@routes.VersionedAssets.at("images/v2/class.png")">
        <span class="title">班级呼叫</span>
        <p class="desc">门口刷卡班级呼叫，校园安全更加规范。</p>
      </div>
      <div class="solution bus col-lg-4">
        <img class="solution-bus" src="@routes.VersionedAssets.at("images/v2/bus-solution.png")">
        <span class="title">校车接送</span>
        <p class="desc">上下车打卡或签到，让校车接送也安全。</p>
      </div>
      <div class="solution manager col-lg-4">
        <img class="solution-manager" src="@routes.VersionedAssets.at("images/v2/manager.png")">
        <span class="title">园务管理</span>
        <p class="desc">信息化全方位管理，让园长和老师工作更轻松。</p>
      </div>
      <div class="solution app col-lg-4">
        <img class="solution-app" src="@routes.VersionedAssets.at("images/v2/app-solution.png")">
        <span class="title">家园共育</span>
        <p class="desc">教师、家长端APP，家园共同陪伴幼儿成长。</p>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

}