@(top10News: List[models.V8.KulebaoNews])
@scripts = {
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("newsList")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {
  <div class="page-hero about-us">
    <img class="hero" src="@routes.VersionedAssets.at("images/v2/about-us-banner.png")">
  </div>
  <div class="news-list-section section">
    <ul>
      @for(n <- top10News) {
        <li class="news">
          <a href="@routes.HomePageController.singleNews(n.id.getOrElse(0))">
          <div class="inner"><div class="title">@n.title</div>
            <div class="fill"><div class="published-at">@n.displayTime</div>
              <div class="dots"></div>
            </div>
          </div>
        </a>
        </li>
      }
    </ul>
    <nav>
      <ul class="pagination">
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        <li class="active">
          <span>1 <span class="sr-only">(current)</span></span>
        </li>
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      </ul>
    </nav>
    </div>
  <div class="clearfix"></div>

}