@(news: models.V8.KulebaoNews)
@scripts = {
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("singleNews")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {
  <div class="single-news-section row"><div class="news-contents col-md-3">
    <img class="news-logo" src="@routes.VersionedAssets.at("images/v2/news-image.png")">
    <h5 class="english-title">News information</h5>
    <h4 class="chinese-title">新闻动态</h4>
    <div class="news-list">
      <ul>
        <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(2)">幼儿教育笔记：唤起孩子们的同情心</a></li>
        <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(3)">幼儿教育笔记：唤起孩子333们的同情心</a></li>
        <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(4)">幼儿教育笔记：唤起孩子们的222同情心</a></li>
        <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(5)">中班教育笔记：握握手，还是好朋友</a></li>
        <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(6)">中班教育笔记：握握222手，还是好朋友</a></li>
      </ul>
    </div>
    <a class="more-news" href="@routes.HomePageController.newsList">更多新闻&nbsp;&nbsp;&gt;&gt;</a>
  </div>
    <div class="news-detail col-md-9">
      <h3 class="title">@news.title</h3>
      <div class="credit">
        <a class="prev-link" href="@routes.HomePageController.singleNews(2)">上一篇</a>
        <a class="next-link" href="@routes.HomePageController.singleNews(3)">下一篇</a>
        <div class="author">作者:@news.author   发布时间:@news.displayTime</div>
      </div>
      <div class="content">
        @Html(news.content)
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

}