@(news: models.V8.KulebaoNews, top5News: List[models.V8.KulebaoNews], prev: Long, next: Long)
@scripts = {
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/v2/home.css")">
}

@v2Main("singleNews")("幼乐宝|欢迎访问幼乐宝|家园互动|家园直通车|")(scripts)(styling) {
  <div class="single-news-section row"><div class="news-contents col-md-3">
    <img class="news-logo" src="@routes.VersionedAssets.at("images/v2/news-image.png")">
    <h5 class="english-title">News information</h5>
    <h4 class="chinese-title">新闻动态</h4>
    <div class="news-list">
      <ul>
        @for(n <- top5News) {
          <li class="news"><a class="news-link" href="@routes.HomePageController.singleNews(n.id.getOrElse(0))">@n.title</a></li>
        }
      </ul>
    </div>
    <a class="more-news" href="@routes.HomePageController.newsList">更多新闻&nbsp;&nbsp;&gt;&gt;</a>
  </div>
    <div class="news-detail col-md-9">
      <h3 class="title">@news.title</h3>
      <div class="credit">
        @if(prev == 0) {
          <a class="prev-link no" href="#">没有了</a>
        } else {
          <a class="prev-link" href="@routes.HomePageController.singleNews(prev)">上一篇</a>
        }
        @if(next == 0) {
          <a class="next-link no" href="#">没有了</a>
        } else {
          <a class="next-link" href="@routes.HomePageController.singleNews(next)">下一篇</a>
        }
        <div class="author">作者:@news.author   发布时间:@news.displayTime</div>
      </div>
      <div class="content">
        @Html(news.revisedStyleContent)
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

}