<div id="fancybox-content">
  <div class="video-player">
    <video id="really-cool-video" class="video-js vjs-default-skin"
           preload="auto" width="480" height="264" poster="" controls autoplay
           data-setup='{}'>
      <source src="{{videoUrl}}" type='video/mp4'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser
        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>