<img class="message-image" ng-src="{{url}}"
     alt="{{type}}" ng-show="isImage(media.url)"/>
<a ng-show="isAudio(media.url)" ng-href="{{url}}">
  <img class="message-audio" src="/assets/images/audio-file-icon.png"
       alt="{{type}}"/></a>
<a ng-show="isVideo(media.url)" ng-href="{{url}}">
  <img class="message-audio" src="/assets/images/video-file-icon.png"
       alt="{{type}}"/></a>
<span class="delete-image glyphicon glyphicon-remove" ng-show="deleteCallback" ng-click="deleteThisImage(media)"></span>