<div class="form-group">
  <label for="assessment-count" class="col-sm-4 control-label">在园评价数</label>

  <div class="col-sm-8">
    <p class="form-control-static" >{{employee.assess[0].count || 0}}</p>
  </div>
</div>
<div class="form-group">
  <label for="conversation-count" class="col-sm-4 control-label">家园互动数</label>

  <div class="col-sm-8">
    <p class="form-control-static" >{{employee.conversation[0].count || 0}}</p>
  </div>
</div>
<div class="form-group">
  <label for="news-publish-count" class="col-sm-4 control-label">发布公告数</label>

  <div class="col-sm-8">
    <p class="form-control-static" >{{employee.news[0].count || 0}}</p>
  </div>
</div>