@import "btnUpload.less";
.footer {
  margin: 0 auto;
  width: 400px;
  background-color: #e0dfe4;
}

.publishing-status {
  &.success {
    background-color: rgb(28, 150, 75);
    color: white;
  }
  &.danger {
    background-color: rgb(214, 73, 40);
  }
  &.warning {
    background-color: rgb(254, 185, 0);
  }
  &.active {
    background-color: rgb(5, 104, 244) !important;
    color: white !important;
  }
  &.inactive {
    background-color: white !important;;
  }
}

.reject-reason {
  font-weight: bolder;
  color: red;
}

.title-publish-status {
  font-weight: bolder;
  &.success {
    color: rgb(28, 150, 75);
  }
  &.warning {
    color: rgb(254, 185, 0);
  }
}

.static-content {
  margin-top: 7px;
}

.bar-image {
  height: 300px;
  margin-top: 50px;
}

.main-footer.footer {
  display: none;
}

.module-view {
  min-height: 739px;
}

.month-select {
  width: 200px;
}

@import "left-panel-buttons-agent.less";
@import "triangle-border.less";
@import "animates.less";