/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.help-block.error,
.error-field {
  color: red;
}

.main-body {
  margin: 0;
  padding: 0;

  .main-view,
  .modal {
    max-width: 1200px;
    max-height: 860px;
    margin: 0 auto;

    .newsletters {
      max-width: 700px;
      .read-true p {
        color: gainsboro;
      }
      .read-false p {
        color: blue;
      }
      .read-flag {
        margin-left: 150px;
      }
    }

    .main-frame {
      margin-left: 30px;
      .btn-primary {
        background-color: rgb(5, 104, 244);
      }
      .btn-danger {
        background-color: rgb(214, 73, 40);
      }
      .btn-warning {
        background-color: rgb(254, 185, 0);
      }
      .btn-success {
        background-color: rgb(28, 150, 75);
      }
    }

    .loading,
    .uploading {
      width: 55px;
      height: 55px;
      background-image: url('../../images/loading.gif');
      background-size: 55px 55px;
      margin-left: 200px;
    }

    .uploading {
      margin: 0;
    }

    .product-logo-container {
      float: left;
      width: 240px;
      height: 124px;
      .product-logo {
        width: 179px;
        height: 124px;
        background-image: url('../../images/logo.png');
        background-size: 179px 124px;
        margin-left: 14px;
        position: absolute;
        z-index: 20;
      }
      .rainbow-logo {
        width: 163px;
        height: 100px;
        background: url('../../images/rainbow2.png') no-repeat 0 0;
        background-size: 146px 74px;
        margin-left: 90px;
        position: absolute;
        z-index: 10;
      }

    }

    .header {
      height: 121px;
      margin-left: -30px;
      background: #e0dfe4 url(../../images/header-bg.png) no-repeat;
      -moz-border-radius-topleft: 15px;
      -moz-border-radius-topright: 15px;
      -webkit-border-top-left-radius: 15px;
      -webkit-border-top-right-radius: 15px;
      .title {
        float: left;
        width: 571px;
        height: 124px;
        color: rgb(103, 77, 52);
        margin-left: 20px;
      }
      .app-qr-code {
        float: right;
        width: 139px;
        height: 139px;
      }

      .admin-user-portrait-container {
        .portrait {
          max-height: 121px;
          max-width: 121px;
          float: right;
        }
      }
    }

    .navbar {
      background-color: #e0dfe4;
      border: none;
      right: 24px;
      .navbar-form.navbar-right {
        width: 322px;
      }
    }

    .user-menu {
      right: 40px;
    }

    .action {
      min-width: 125px;
      .btn {
        background-color: wheat;
      }
    }

    .alert.alert-dismissable {
      .close {
        display: none;
      }
    }

    .control-label.highlight {
      color: red;
    }

    .image-container,
    .image-preview {
      .delete-image {
        cursor: pointer;
      }
      .assignment-image,
      .message-image,
      .message-video {
        max-height: 220px;
        max-width: 220px;
      }
      .message-audio {
        max-height: 150px;
        max-width: 150px;
      }
      .assess-image {
        max-height: 180px;
        max-width: 180px;
      }
      &.image-110 {
        .message-image {
          max-height: 110px;
          max-width: 110px;
        }
        .message-audio,
        .message-video {
          max-height: 80px;
          max-width: 80px;
        }
      }
      .conversation-audio {
        max-height: 80px;
        max-width: 80px;
      }
      .news-image {
        max-height: 200px;
      }
    }

    .commercial-image-preview {
      .message-image {
        max-height: 220px;
        max-width: 150px;
      }
      .delete-image {
        cursor: pointer;
      }
    }

    .rating,
    .editable {
      cursor: pointer;
    }
    .row.principal {
      background: wheat;
    }

    .modal-backdrop.am-fade {
      opacity: .5;
      transition: opacity .15s linear;
      &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
          opacity: .5;
        }
      }
      &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
          opacity: 0;
        }
      }
    }

    @import "left-panel-buttons.less";
  }

  .modal.center .modal-dialog {
    max-width: 1000px;
    max-height: 760px;
    width: 85%;
    .modal-content {
      max-height: 760px;
      .modal-body {
        overflow-y: auto;
        height: 100%;

        .select-button.active {
          background-color: #47a447;
        }

        .datepicker-input {
          width: 100%;
        }

        .datepicker-button {
          margin: -34px 0 0 0;
          float: right;
        }

        .message-content {
          max-width: 936px;
          &.viewing-content {
            max-height: 300px;
          }
          &.editing-content {
            max-height: 200px;
          }
        }

        .news-content {
          max-width: 966px;
          &.editing-content {
            max-height: 280px;
          }
        }
        .title-line {
          margin-top: 7px;
        }
      }
    }
  }
  .portrait-container {
    margin-left: 100px;
    vertical-align: middle;
    .portrait {
      max-height: 220px;
      max-width: 180px;
    }
    .portrait-preview {
      max-height: 110px;
      max-width: 90px;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  .main-body {
    overflow-x: hidden;
    .main-view {
      .main-frame {
        margin: 0;
      }
      .header {
        background: #e0dfe4 none;
        .admin-user-portrait-container {
          margin-top: -83px;
        }
        .admin-user-info-container {
          min-height: 110px;
        }
        .admin-features {
          min-height: 110px;
          .navbar-form {
            border: none;
          }
        }

      }
      .modules-list-container {
        margin: 10px 0 0 0;
        padding: 0;
        width: 100%;
      }
    }
    .modal.center .modal-dialog {
      width: 100%;
      height: 100%;
      .modal-body {
        top: 3px;
        left: 0;
      }
    }
    .message-input {
      width: 100%;
    }
  }
}

.feedback {
  position: fixed;
  top: 200px;
  right: 10px;
  background: no-repeat url(../../images/feedback.gif) -9px -25px;
  background-size: 156px 101px;
  width: 139px;
  height: 45px;
}

.share-images{
  display: block;
  list-style: none;
  padding: 0;
  .share-image {
    list-style: none;
    margin: 5px auto;
    max-width: 480px;
    img {
      max-width: 480px;
      width: 100%;
    }
  }
}

.share-content {
  margin: 5px auto;
  max-width: 480px;
}
.content {
  font-size: 16px;
}

.school-list-panel {
  overflow-y: auto;
  max-height: 654px;
}

.new-ad-content {
  min-height: 100px;
  max-height: 254px;
  max-width: 100%;
  height: 180px;
}

.reject-ad-content,
.reject-reason-content {
  max-height: 125px;
  max-width: 100%;
  height: 125px;
}

.mandatory {
  color: red;
}

.map-picking {
  width: 930px;
}
.map-canvas {
  width: 100%;
  height: 500px;
}

.main-body .modal {
  overflow-y: auto;
}