.newsletters {
  max-width: 700px;
  .read-true p {
    color: gainsboro;
  }
  .read-false p {
    color: blue;
  }
  .read-flag {
    margin-left: 150px;
  }
}

.panel {
  max-width: 800px;
}

.main-frame {
  margin-left: 30px;
  .btn-primary {
    background-color: rgb(5, 104, 244);
  }
  .btn-danger {
    background-color: rgb(214, 73, 40);
  }
  .btn-warning {
    background-color: rgb(254, 185, 0);
  }
  .btn-success {
    background-color: rgb(28, 150, 75);
  }
}

.loading,
.uploading {
  width: 55px;
  height: 55px;
  background-image: url('../../images/loading.gif');
  background-size: 55px 55px;
  margin-left: 200px;
}

.uploading {
  margin: 0;
}

.product-logo-container {
  float: left;
  width: 240px;
  height: 124px;
  .product-logo {
    width: 179px;
    height: 124px;
    background-image: url('../../images/logo.png');
    background-size: 179px 124px;
    margin-left: 14px;
    position: absolute;
    z-index: 20;
  }
  .rainbow-logo {
    width: 163px;
    height: 100px;
    background: url('../../images/rainbow2.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 146px 74px;
    margin-left: 90px;
    position: absolute;
    z-index: 10;
  }

}

.header {
  width: 1200px;
  height: 121px;
  margin-left: -30px;
  background: #f8f8f8 url(../../images/header-bg.png) no-repeat;
  .title {
    float: left;
    width: 571px;
    height: 124px;
    color: rgb(103, 77, 52);
    margin-left: 20px;
  }
  .app-qr-code {
    float: right;
    width: 139px;
    height: 139px;
  }
}

.help-block.error,
.error-field {
  color: red;
}

.select-button.active {
  background-color: #47a447;
}

.datepicker-input {
  width: 100%;
}

.datepicker-button {
  margin: -34px 0 0 0;
  float: right;
}

.modal-content {
  width: 740px;
}

.employee-form {
  .editing-field {

  }
}

.modal-body {
  max-height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
}

.navbar {
  background-color: #e0dfe4;
   border: none;
  .navbar-form {
    width: 322px;
  }
}

.user-menu {
  right: 100px;
}

.action {
  min-width: 125px;
  .btn {
    background-color: wheat;
  }
}

.alert.am-fade {
  .close {
    display: none;
  }
}

.control-label.highlight {
  color: red;
}

.portrait-container {
  margin-left: 100px;
  vertical-align: middle;
  .portrait {
    max-height: 220px;
    max-width: 180px;
  }
  .portrait-preview {
    max-height: 110px;
    max-width: 90px;
  }
}

.image-container,
.image-preview {
  .assignment-image,
  .message-image {
    max-height: 220px;
    max-width: 220px;
  }
  .assess-image {
    max-height: 180px;
    max-width: 180px;
  }
  .conversation-image {
    max-height: 110px;
    max-width: 110px;
  }
  .news-image {
    max-height: 200px;
  }
}

.rating,
.editable {
  cursor: pointer;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modules-list-container {
  background: #f8f8f8 url(../../images/tabs-bg.png) no-repeat;;
  .modules-list {
    .btn {
      span {
        display: none;
      }
      height: 37px;
    }
    .member {
      background: #34393D url(../../images/member.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/member-action.png) no-repeat;;
      }
    }
    .news {
      background: #34393D url(../../images/news.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/news-action.png) no-repeat;;
      }
    }
    .conversation {
      background: #34393D url(../../images/conversation.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/conversation-action.png) no-repeat;;
      }
    }
    .assess {
      background: #34393D url(../../images/assess.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/assess-action.png) no-repeat;;
      }
    }
    .relationship {
      background: #34393D url(../../images/relationship.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/relationship-action.png) no-repeat;;
      }
    }
    .assignment {
      background: #34393D url(../../images/assignment.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/assignment-action.png) no-repeat;;
      }
    }
    .intro {
      background: #34393D url(../../images/intro.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/intro-action.png) no-repeat;;
      }
    }
    .cookbook {
      background: #34393D url(../../images/cookbook.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/cookbook-action.png) no-repeat;;
      }
    }
    .schedule {
      background: #34393D url(../../images/schedule.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/schedule-action.png) no-repeat;;
      }
    }
    .employee {
      background: #34393D url(../../images/employee.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/employee-action.png) no-repeat;;
      }
    }
    .classes {
      background: #34393D url(../../images/class.png) no-repeat;;
      background-size: 100%;
      &:hover {
        background: #34393D url(../../images/class-action.png) no-repeat;;
      }
    }
  }
}