.static-container .header {
  height: 55px;
  border-bottom: 1px solid #d3d3d3;
}

.forgotten-view {

  .prompt {
    margin-top: 40px;
  }
  .red {
    color: red;
  }
  .form-group {
    max-width: 700px;
  }
  .btn {
    background: url(../../images/btn-bg.png) no-repeat;
    background-size: 96px 33px;
  }
}

