util.print: Use console.log instead
.static-container .header {
  height: 55px;
  border-bottom: 1px solid #d3d3d3;
}
.static-container .header .logo {
  margin-left: 20%;
}
.static-container .header .login-link {
  margin-right: 20%;
}
.forgotten-view .margin-20 {
  margin-left: 20%;
}
.forgotten-view .prompt {
  margin-top: 40px;
}
.forgotten-view .red {
  color: red;
}
.forgotten-view .form-group {
  max-width: 700px;
  margin-left: -54px;
}
.forgotten-view .form-group input {
  max-width: 160px;
}
.forgotten-view .btn {
  background: url(../../images/btn-bg.png) no-repeat;
  background-size: 96px 33px;
  margin-left: 6%;
}
.forgotten-view .reset-password-panel .control-label {
  font-size: 16px;
  font-weight: bold;
  margin-left: -2%;
}
