.hero {
  width: 90%;
}

#full-screen-slider{
  width: 1276px;
  margin: 0 auto;
}

#main {
  margin-top: 10px;
  position: relative;
}

.prompting {
  display: none;
}

.login-entry {
  background-image: url('../../images/btn.png');
  width: 164px;
  height: 56px;
  display: block;
  &:hover {
    background-image: url('../../images/btn1.png');
  }
  .content {
    display: none;
  }
}

.image-intro {
  width: 1090px;
  margin: 0 auto;
}

.service-phone {
  margin-top: 40px;
  margin-bottom: 55px;
  .service-phone-hr {
    line-height: 84px;
    height: 84px;
    background: url(../../images/fn-icon-phone.png) no-repeat center;
    .service-phone-line {
      height: 1px;
      background: #ccc;
      width: 430px;
      margin-top: 41px;
    }
  }
  p {
    margin-top: 25px;
    text-align: center;
    span {
      font-size: 24px;
    }
    .service-phone-title {
      color: #acacac;
    }
    .service-phone-number {
      color: #666666;
    }
  }
}

@import "qr-code.less";

