.hero {
  min-width: 1880px;
}

.logo {
  margin-left: 385px;
}

#slides {
  height: 490px;
}

.main {
  position: relative;
}

.login-entry {
  background-image: url('../../images/btn.png');
  width: 164px;
  height: 56px;
  display: block;
  margin-right: 320px;
  &:hover {
    background-image: url('../../images/btn1.png');
  }
  .content {
    display: none;
  }
}

.image-intro {
  width: 1090px;
  margin: 0 auto;
}

.qr-code-box {
  background-color: white;
  z-index: 300;
  position: absolute;
  top: 100px;
  left: 100px;
  color: green;
  .app-download {
    width: 150px;
    li {
      display: block;
      margin-top: -17px;
      margin-left: -40px;
      a {
        display: inline-block;
        line-height: 12px;
        width: 50px;
        height: 50px;

        span {
          font-size: 17px;
          color: #000;
          line-height: 12px;
          display: inline-block;
          margin: 19px 0 0 32px;
          width: 150px;
          &:hover {
            text-decoration: underline;
          }
        }

      }
      &.app-download-android a {
        background: transparent url(../../images/fn-icon-android.jpg) no-repeat left center;
        background-size: 64%;
      }
      &.app-download-iphone a {
        background: transparent url(../../images/fn-icon-iphone.jpg) no-repeat left center;
        background-size: 64%;
      }

    }
  }
}

.service-phone {
  margin-top: 40px;
  margin-bottom: 55px;
  .service-phone-hr {
    line-height: 84px;
    height: 84px;
    background: url(images/fn-icon-phone.png) no-repeat center;
    .service-phone-line {
      height: 1px;
      background: #ccc;
      width: 430px;
      margin-top: 41px;
    }
  }
  p {
    margin-top: 25px;
    text-align: center;
    span {
      font-size: 24px;
    }
    .service-phone-title {
      color: #acacac;
    }
    .service-phone-number {
      color: #666666;
    }
  }
}

