util.print: Use console.log instead
@media screen and (min-width: 769px) {
  .module-view-container {
    float: right;
    width: 963px;
    height: 739px;
    top: 121px;
    position: absolute;
    margin-left: 222px;
  }
  .modules-list-container {
    background: #f8f8f8 url(../../images/tabs-bg.png) no-repeat;
    min-width: 252px;
    max-width: 252px;
    margin-left: -30px;
    height: 739px;
  }
  .modules-list-container .modules-list .action {
    display: block;
  }
  .modules-list-container .modules-list .btn {
    min-height: 47px;
    min-width: 223px;
    width: 223px;
  }
  .modules-list-container .modules-list .btn span {
    display: none;
  }
  .modules-list-container .modules-list .btn span.force-show {
    display: inline;
  }
  .modules-list-container .modules-list .news {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -86px;
  }
  .modules-list-container .modules-list .news:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -86px;
  }
  .modules-list-container .modules-list .conversation {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -136px;
  }
  .modules-list-container .modules-list .conversation:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -136px;
  }
  .modules-list-container .modules-list .assess {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -186px;
  }
  .modules-list-container .modules-list .assess:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -186px;
  }
  .modules-list-container .modules-list .cookbook {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -236px;
  }
  .modules-list-container .modules-list .cookbook:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -236px;
  }
  .modules-list-container .modules-list .schedule {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -285px;
  }
  .modules-list-container .modules-list .schedule:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -285px;
  }
  .modules-list-container .modules-list .assignment {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -334px;
  }
  .modules-list-container .modules-list .assignment:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -334px;
  }
  .modules-list-container .modules-list .history {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -382px;
  }
  .modules-list-container .modules-list .history:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -382px;
  }
  .modules-list-container .modules-list .placeholder {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px 0px;
  }
  .modules-list-container .modules-list .dailylog {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -475px;
  }
  .modules-list-container .modules-list .dailylog:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -475px;
  }
  .modules-list-container .modules-list .bus-location {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -525px;
  }
  .modules-list-container .modules-list .bus-location:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -525px;
  }
  .modules-list-container .modules-list .relationship {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -575px;
  }
  .modules-list-container .modules-list .relationship:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -575px;
  }
  .modules-list-container .modules-list .member {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -624px;
  }
  .modules-list-container .modules-list .member:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -624px;
  }
  .modules-list-container .modules-list .classes {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -673px;
  }
  .modules-list-container .modules-list .classes:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -673px;
  }
  .modules-list-container .modules-list .employee {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -722px;
  }
  .modules-list-container .modules-list .employee:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -722px;
  }
  .modules-list-container .modules-list .intro {
    background: #34393D url(../../images/left-btns.png) no-repeat -15px -771px;
  }
  .modules-list-container .modules-list .intro:hover {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -771px;
  }
  .modules-list-container .active .news {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -86px;
  }
  .modules-list-container .active .conversation {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -136px;
  }
  .modules-list-container .active .assess {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -186px;
  }
  .modules-list-container .active .cookbook {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -236px;
  }
  .modules-list-container .active .schedule {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -285px;
  }
  .modules-list-container .active .assignment {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -334px;
  }
  .modules-list-container .active .history {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -382px;
  }
  .modules-list-container .active .dailylog {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -475px;
  }
  .modules-list-container .active .bus-location {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -525px;
  }
  .modules-list-container .active .relationship {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -575px;
  }
  .modules-list-container .active .member {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -624px;
  }
  .modules-list-container .active .classes {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -673px;
  }
  .modules-list-container .active .employee {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -722px;
  }
  .modules-list-container .active .intro {
    background: #34393D url(../../images/left-btns.png) no-repeat -239px -771px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-top: -78px;
  }
  .navbar .admin-features {
    display: block;
  }
  .modules-list-container {
    margin-top: 150px;
  }
  .modules-list-container .btn.placeholder {
    display: none;
  }
  .module-view-container {
    margin-top: 50px;
  }
}
.action .badge {
  margin-left: 185px;
  display: inline;
  background-color: white;
  color: red;
}
