(node) util.print is deprecated. Use console.log instead.
@media screen and (min-width: 769px) {
  .module-view-container {
    float: right;
    width: 963px;
    height: 739px;
    top: 121px;
    position: absolute;
    margin-left: 222px;
  }
  .modules-list-container {
    background: #34393d url(../../images/tabs-bg.png) no-repeat;
    min-width: 252px;
    max-width: 252px;
    margin-left: -30px;
    height: 739px;
  }
  .modules-list-container .modules-list .action {
    display: block;
  }
  .modules-list-container .modules-list .action a.btn {
    background-color: #34393D;
  }
  .modules-list-container .modules-list .btn {
    min-height: 47px;
    min-width: 223px;
    width: 223px;
  }
  .modules-list-container .modules-list .btn span {
    display: none;
  }
  .modules-list-container .modules-list .btn span.force-show {
    display: inline;
  }
  .modules-list-container .modules-list .schools {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -15px -86px;
  }
  .modules-list-container .modules-list .schools:hover {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -86px;
  }
  .modules-list-container .modules-list .commercials {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -15px -136px;
  }
  .modules-list-container .modules-list .commercials:hover {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -136px;
  }
  .modules-list-container .modules-list .stats {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -15px -185px;
  }
  .modules-list-container .modules-list .stats:hover {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -185px;
  }
  .modules-list-container .active .schools {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -86px;
  }
  .modules-list-container .active .commercials {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -136px;
  }
  .modules-list-container .active .stats {
    background: #34393D url(../../images/left-btns-agent.png) no-repeat -239px -185px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-top: -78px;
  }
  .navbar .admin-features {
    display: block;
  }
  .modules-list-container {
    margin-top: 150px;
  }
  .modules-list-container .btn.placeholder {
    display: none;
  }
  .module-view-container {
    margin-top: 50px;
  }
}
.action .badge {
  margin-left: 185px;
  display: inline;
  background-color: white;
  color: red;
}
