@media screen and (min-width: 769px) {
  .hoverBkImage(@x) {
    background: e(%("#34393D url(../../images/left-btns.png) no-repeat -239px %spx", @x));
  }

  .bkImage(@x) {
    background: e(%("#34393D url(../../images/left-btns.png) no-repeat -15px %spx", @x));
  }

  .module-view-container {
    float: right;
    width: 963px;
    height: 739px;
    top: 121px;
    position: absolute;
    margin-left: 222px;
  }

  .modules-list-container {
    background: #f8f8f8 url(../../images/tabs-bg.png) no-repeat;
    min-width: 252px;
    max-width: 252px;
    margin-left: -30px;
    height: 739px;
    .modules-list {
      .action {
        display: block;
      }

      .btn {
        span {
          display: none;
          &.force-show {
            display: inline;
          }
        }
        min-height: 47px;
        min-width: 223px;
        width: 223px;
      }

      .news {
        .bkImage(-86);
        &:hover {
          .hoverBkImage(-86);
        }
      }
      .conversation {
        .bkImage(-136);
        &:hover {
          .hoverBkImage(-136);
        }
      }
      .assess {
        .bkImage(-186);
        &:hover {
          .hoverBkImage(-186);
        }
      }
      .cookbook {
        .bkImage(-236);
        &:hover {
          .hoverBkImage(-236);
        }
      }
      .schedule {
        .bkImage(-285);
        &:hover {
          .hoverBkImage(-285);
        }
      }
      .assignment {
        .bkImage(-334);
        &:hover {
          .hoverBkImage(-334);
        }
      }
      .history {
        .bkImage(-382);
        &:hover {
          .hoverBkImage(-382);
        }
      }

      .placeholder {
        .bkImage(0);
      }

      .dailylog {
        .bkImage(-477);
        &:hover {
          .hoverBkImage(-477);
        }
      }
      .bus-location {
        .bkImage(-525);
        &:hover {
          .hoverBkImage(-525);
        }
      }
      .relationship {
        .bkImage(-575);
        &:hover {
          .hoverBkImage(-575);
        }
      }

      .member {
        .bkImage(-624);
        &:hover {
          .hoverBkImage(-624);
        }
      }

      .classes {
        .bkImage(-673);
        &:hover {
          .hoverBkImage(-673);
        }
      }

      .employee {
        .bkImage(-722);
        &:hover {
          .hoverBkImage(-722);
        }
      }

      .intro {
        .bkImage(-771);
        &:hover {
          .hoverBkImage(-771);
        }
      }

      .video {
        .bkImage(-821);
        &:hover {
          .hoverBkImage(-820);
        }
      }
    }
    .active .news {
      .hoverBkImage(-86);
    }
    .active .conversation {
      .hoverBkImage(-136);
    }
    .active .assess {
      .hoverBkImage(-186);
    }
    .active .cookbook {
      .hoverBkImage(-236);
    }
    .active .schedule {
      .hoverBkImage(-285);
    }
    .active .assignment {
      .hoverBkImage(-334);
    }
    .active .history {
      .hoverBkImage(-382);
    }

    .active .dailylog {
      .hoverBkImage(-477);
    }
    .active .bus-location {
      .hoverBkImage(-525);
    }
    .active .relationship {
      .hoverBkImage(-575);
    }
    .active .member {
      .hoverBkImage(-624);
    }
    .active .classes {
      .hoverBkImage(-673);
    }
    .active .employee {
      .hoverBkImage(-722);
    }
    .active .intro {
      .hoverBkImage(-771);
    }
    .active .video {
      .hoverBkImage(-820);
    }
  }

}

@media screen and (max-width: 768px) {
  .navbar {
    margin-top: -78px;
    .admin-features {
      display: block;
    }
  }

  .modules-list-container {
    margin-top: 150px;
    .btn.placeholder {
      display: none;
    }
  }

  .module-view-container {
    margin-top: 50px;
  }
}

.action .badge {
  margin-left: 185px;
  display: inline;
  background-color: white;
  color: red;
}