@media screen and (min-width: 769px) {

  .hoverBkImage(@x) {
    background: e(%("#34393D url(../../images/left-btns.png) no-repeat -239px %spx", @x));
  }

  .bkImage(@x) {
    background: e(%("#34393D url(../../images/left-btns.png) no-repeat -15px %spx", @x));
  }


  .module-view-container {
    float: right;
    width: 963px;
    height: 739px;
    top: 121px;
    position: absolute;
    margin-left: 222px;
  }

  .modules-list-container {
    background: #f8f8f8 url(../../images/tabs-bg.png) no-repeat;
    min-width: 252px;
    max-width: 252px;
    margin-left: -30px;
    height: 739px;
    .modules-list {
      .action {
        display: block;
      }

      .btn {
        span {
          display: none;
        }
        min-height: 47px;
        min-width: 223px;
        width: 223px;
      }

      .news {
        .bkImage(-86);
        &:hover {
          .hoverBkImage(-86);
        }
      }
      .conversation {
        .bkImage(-136);
        &:hover {
          .hoverBkImage(-136);
        }
      }
      .assess {
        .bkImage(-186);
        &:hover {
          .hoverBkImage(-186);
        }
      }
      .cookbook {
        .bkImage(-236);
        &:hover {
          .hoverBkImage(-236);
        }
      }
      .schedule {
        .bkImage(-285);
        &:hover {
          .hoverBkImage(-285);
        }
      }
      .assignment {
        .bkImage(-334);
        &:hover {
          .hoverBkImage(-334);
        }
      }

      .placeholder {
        .bkImage(-380);
      }

      .relationship {
        .bkImage(-428);
        &:hover {
          .hoverBkImage(-428);
        }
      }

      .member {
        .bkImage(-478);
        &:hover {
          .hoverBkImage(-478);
        }
      }

      .classes {
        .bkImage(-527);
        &:hover {
          .hoverBkImage(-527);
        }
      }

      .employee {
        .bkImage(-576);
        &:hover {
          .hoverBkImage(-576);
        }
      }

      .intro {
        .bkImage(-626);
        &:hover {
          .hoverBkImage(-626);
        }
      }
    }
    .active .news {
      .hoverBkImage(-86);
    }
    .active .conversation {
      .hoverBkImage(-136);
    }
    .active .assess {
      .hoverBkImage(-186);
    }
    .active .cookbook {
      .hoverBkImage(-236);
    }
    .active .schedule {
      .hoverBkImage(-285);
    }
    .active .assignment {
      .hoverBkImage(-334);
    }
    .active .relationship {
      .hoverBkImage(-428);
    }
    .active .member {
      .hoverBkImage(-478);
    }
    .active .classes {
      .hoverBkImage(-527);
    }
    .active .employee {
      .hoverBkImage(-576);
    }
    .active .intro {
      .hoverBkImage(-626);
    }
  }

}

@media screen and (max-width: 768px) {
  .navbar {
    margin-top: -78px;
    .admin-features {
      display: block;
    }
  }

  .modules-list-container {
    margin-top: 150px;
    .btn.placeholder {
      display: none;
    }
  }

  .module-view-container {
    margin-top: 50px;
  }
}