// -----------------------------------
// LOGIN
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------
@import 'libs/_reset.less';
@import 'libs/_mate.less';
@import 'libs/_theme.less';

// ----------------------- MAIN STYLES
body {
  color: @mainColor;
  font: @defaultFont;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
  .footer {
    background: #fff;
    p {
      margin: 0 auto;
      display: block;
      height: 40px;
      width: 555px;
      background: #d3d3d3;
      padding-top: 13px;
    }
  }

}

a {
  color: darkred;
  text-decoration: none;
  &:hover {
    color: @linksHover;
  }
}

.app-qr-code {
  text-align: center;
  width: 139px;
  height: 139px;
}

p.note {
  margin: 10px auto 0;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #445868;
  text-shadow: 1px 1px rgba(255, 255, 255, .6);
  em {
    font-weight: bold;
  }
}

.main-login {
  width: 1136px;
  height: 639px;
  margin: 0 auto;
  background: url(../../images/login-full-bg.jpg) no-repeat;
  position: relative;

  .login-form {
    position: absolute;
    top: 133px;
    left: 538px;
    width: 468px;
    height: 380px;
    background: transparent url(../../images/login-form-bg.png) no-repeat 44px top;
    background-size: 83% 308px;
    padding: 48px;
    .form-group {
      padding: 12px;
      label {
        margin-top: 10px;
      }
    }

    p {
      width: inherit;
      margin: 5px 0;
      color: #999;
    }
    p.error {
      color: #c00;
      margin-bottom: 10px;
      text-shadow: 1px 1px rgba(0, 0, 0, .1);
    }
    p.success {
      color: #83BD41;
      margin-bottom: 10px;
      text-shadow: 1px 1px rgba(0, 0, 0, .1);
    }
    input {
      display: block;
      padding: 2px;
      background: white;
      font-size: 14px;
      &:invalid:not(:focus) {
        border-color: red;
      }
    }
    button {
      display: block;
      font-size: 14px;
    }
    .forgotten-link {
      margin-top: 5px;
    }
    .button-container {
      margin-top: 5px;
    }
  }
}

.login-link {
  display: none;
}

// --------------------------- IMPORTS
@import 'main/_widgets.less';
// Some shared elements
@import 'main/_header.less';
// Top header + User bar

@import "qr-code.less";

.qr-code-box {
  position: absolute;
  top: 30%;
  left: 960px;
  .qr-code {
    background: transparent url(../../images/qrcode_teacher_android.png) no-repeat;
    background-size: 100%;
  }
}