// -----------------------------------
// LOGIN
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------
@import 'libs/_reset.less';
@import 'libs/_mate.less';
@import 'libs/_theme.less';

// ----------------------- MAIN STYLES
body {
  background: #fff;
  color: @mainColor;
  font: @defaultFont;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
}

a {
  color: darkred;
  text-decoration: none;
  &:hover {
    color: @linksHover;
  }
}

.app-qr-code {
  text-align: center;
  width: 139px;
  height: 139px;
}

p.note {
  margin: 10px auto 0;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #445868;
  text-shadow: 1px 1px rgba(255, 255, 255, .6);
  em {
    font-weight: bold;
  }
}

.main-login {
  width: 1520px;
  height: 1097px;
  background: url(../../images/login-full-bg.jpg) no-repeat -211px -103px;
  background-size: 1920px 1200px;
  position: relative;

  .login-form {
    position: absolute;
    top: 264px;
    left: 725px;
    width: 468px;
    height: 280px;
    background: transparent url(../../images/login-form-bg.png) no-repeat 44px top;
    background-size: 72%;
    padding: 48px;
    .form-group {
      padding: 12px;
      label {
        margin-top: 10px;
      }
    }

    p {
      width: inherit;
      margin: 5px 0;
      color: #999;
    }
    p.error {
      color: #c00;
      margin-bottom: 10px;
      text-shadow: 1px 1px rgba(0, 0, 0, .1);
    }
    p.success {
      color: #83BD41;
      margin-bottom: 10px;
      text-shadow: 1px 1px rgba(0, 0, 0, .1);
    }
    input {
      display: block;
      padding: 2px;
      background: white;
      font-size: 14px;
      &:invalid:not(:focus) {
        border-color: red;
      }
    }
    button {
      display: block;
      font-size: 14px;
    }

  }
}

// --------------------------- IMPORTS
@import 'main/_widgets.less';
// Some shared elements
@import 'main/_header.less';
// Top header + User bar