.login-entry {
  background-image: url('../../images/btn.png');
  width: 164px;
  height: 56px;
  display: block;
  margin-right: 320px;
  &:hover {
    background-image: url('../../images/btn1.png');
  }
  .content {
    display: none;
  }
}

.image-intro {
  width: 1090px;
  margin: 0 auto;
}

#qr-code {
  z-index: 300;
  position: absolute;
  left: 50px;
  top: 100px;
}

.app-download {
  width: 630px;
  margin: 0 auto;
  li {
    display: inline;
    width: 296px;
    margin-top: 38px;
    a {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      padding-left: 60px;
      vertical-align: middle;
      span {
        font-size: 28px;
        color: #000;
        line-height: 45px;
        border-left: 1px solid #e1e1e1;
        vertical-align: middle;
        padding-left: 31px;
      }
    }
    &.app-download-android a {
      background: url(../../images/fn-icon-android.jpg) no-repeat left center;
    }
    &.app-download-iphone {
      margin-left: 38px;
      a {
        background: url(../../images/fn-icon-iphone.jpg) no-repeat left center;
      }
    }
  }
}

.service-phone {
  margin-top: 40px;
  margin-bottom: 55px;
  .service-phone-hr {
    line-height: 84px;
    height: 84px;
    background: url(images/fn-icon-phone.png) no-repeat center;
    .service-phone-line {
      height: 1px;
      background: #ccc;
      width: 430px;
      margin-top: 41px;
    }
  }
  p {
    margin-top: 25px;
    text-align: center;
    span {
      font-size: 24px;
    }
    .service-phone-title {
      color: #acacac;
    }
    .service-phone-number {
      color: #666666;
    }
  }
}

.footer {
  background: #f1f1f1;
  padding-top: 45px;
  padding-bottom: 40px;
  p {
    color: #777777;
    text-align: center;
    font-size: 12px;
  }
}