.login-entry {
  background-image: url('../../images/btn.png');
  width: 164px;
  height: 56px;
  display: block;
  &:hover {
    background-image: url('../../images/btn1.png');
  }
  .content {
    display: none;
  }
}