.static-container {
  overflow: hidden;
}

.content {
  font-size: 16px;
}

#really-cool-video {
  max-width: 100%;
}

.logo {
  margin-left: 20px;
}

.border {
  border-bottom: #e6e6e6 2px solid;
  margin: 5px 20px;
}

#main {
  margin: 5px 20px;
  .share-content {
    margin: 0 auto;
    max-width: 480px;
    &.content {
      font-size: 18px;
      color: #444;
      margin: 12px 0;
    }
    &.from {
      font-size: 14px;
      color: #8d8d8d;
    }
    .shared-at {
      color: #8d8d8d;
    }
    .product-name {
      color: #09a4dd;
    }

  }
  //li.share-image {
  //  //padding-bottom: 30px;
  ////}
  .share-images {
    margin: 15px auto 0;
    padding: 0;
    li {
      list-style: none;
      &.share-image {
        margin: 0 auto 30px;
        max-width: 480px;
        img {
          max-width: 480px;
          width: 100%;
        }
      }
    }

  }

}

.header {
  background-color: #09a4dd;
  padding: 5px 0;
  height: 47px;
  .logo-back {
    height: 37px;
  }
}

.footer {
  margin: 0;
  img {
    padding: 0;
    &.left {
      padding-left: 20px;
    }
    &.right {
      padding-right: 20px;
    }
  }
}

.contact-us {
  margin: 15px 0 0;
  padding-bottom: 1px;
  padding-top: 15px;
  background-color: #ebeced;
  .info {
    text-align: center;
    margin: 0 auto;
  }
}

.share-signature {

  .left {
    float:left;
    width: 45%;
  }
  .right {
    float:right;
    width: 45%;
    text-align: right;
  }
}

.blue-strap {
  width: 120%;
  background-color: #09a4dd;
  margin: 10px -20px 10px -20px;
  height: 40px;
  padding: 5px 0;
  .bell-logo {
    float: left;
    margin-left: 10px;
    width: 40px;
  }
  .promotion {
    float: left;
    font-size: 16px;
    color: #fff;
    width: 80%;
    margin-left: 10px;
  }

}
