(node) util.print is deprecated. Use console.log instead.
.static-container {
  overflow: hidden;
}
.content {
  font-size: 16px;
}
#really-cool-video {
  max-width: 100%;
}
.logo {
  margin-left: 20px;
}
.border {
  border-bottom: #e6e6e6 2px solid;
  margin: 5px 20px;
}
#main {
  margin: 5px 20px;
}
#main .share-content {
  margin: 0 auto;
  max-width: 480px;
}
#main .share-content.content {
  font-size: 18px;
  color: #444;
  margin: 12px 0;
}
#main .share-content.from {
  font-size: 14px;
  color: #8d8d8d;
}
#main .share-content .shared-at {
  color: #8d8d8d;
}
#main .share-content .product-name {
  color: #009dd7;
}
#main .share-images {
  margin: 15px auto;
  padding: 0;
}
#main .share-images li {
  list-style: none;
}
#main .share-images li.share-image {
  margin: 0 auto 30px;
  max-width: 480px;
}
#main .share-images li.share-image img {
  max-width: 480px;
  width: 100%;
}
.header {
  background-color: #009dd7;
  padding: 5px 0;
  height: 47px;
}
.header .logo-back {
  height: 37px;
}
.footer {
  margin: -25px 0 0;
}
.footer img {
  padding: 0;
}
.footer img.left {
  padding-left: 20px;
}
.footer img.right {
  padding-right: 20px;
}
.contact-us {
  display: none;
}
.share-signature .left {
  float: left;
  width: 45%;
}
.share-signature .right {
  float: right;
  width: 45%;
  text-align: right;
}
.blue-strap {
  width: 120%;
  background-color: #009dd7;
  margin: 10px -20px 10px -20px;
  height: 40px;
  padding: 5px 0;
}
.blue-strap .bell-logo {
  float: left;
  margin-left: 10px;
  width: 40px;
}
.blue-strap .promotion {
  float: left;
  font-size: 16px;
  color: #fff;
  width: 80%;
  margin-left: 10px;
}
