@import "btnUpload.less";

.long-url {
  overflow-wrap: break-word;
}

.button-group {
  margin-top: 10px;
  position: relative;
}

.version-summary {
  min-height: 100px;
}

.expired {
  text-decoration: line-through;
  color: #808080;
}

.log-container {
  pre {
    max-height: 656px;
    overflow-y: scroll;
  }
}

.chat-container {
  margin-left: 0;
  max-width: 963px;
  .container {
    min-height: 400px;
    max-height: 545px;
    overflow-y: scroll;
    .history-sentence {
      text-align: right;
      list-style-type: none;
      padding-left: 10px;
      &.me {
        text-align: left;
      }
      .content {
        width: 90%;
        &.left {
          border-color: #bc8f8f;
        }
        &.left:before {
         border-color: transparent #bc8f8f;
        }
      }
    }

  }
  .members {
    min-height: 400px;
    .member-list {
      padding-left: 0;
      list-style: lower-alpha;
      .me {
         .btn-warning {
           background-color: #008000;
           border-color: #008000;
         }
      }
    }
  }
  .message-input {
    min-height: 100px;
  }
}

.footer {
  display: none;
}

@import "triangle-border.less";