@minifiedScripts = {
  <script src="@routes.VersionedAssets.at("scripts/min/agent.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/min/services.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/min/directives.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/min/filters.min.js")" type="text/javascript"></script>
  @commonScripts
}
@normalScripts = {
  <script src="@routes.VersionedAssets.at("scripts/agent.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/services/SessionService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/AgentService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/EmployeeService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/SchoolService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/fileUploadService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/ImageCompressService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/d3.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/FullResponseService.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentSchoolController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentCommercialController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentErrorController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentStatisticsController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentActivitiesController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentContractorsController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/agent/AgentHistoryController.js")" type="text/javascript"></script>


  <script src="@routes.VersionedAssets.at("scripts/directives/klFileUpload.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/ngConfirmClick.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/klAgentActiveBars.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/klBaiduMap.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/klMediaPreview.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/klSchoolColumn.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/klLoading.js")" type="text/javascript"></script>

  @commonScripts
}
@commonScripts = {
  <script type="text/javascript" src="http://api.map.baidu.com/api?ak=FeQbDkv37HUZvIGqnm6TXF5B&v=2.0"></script>
  <script src="@routes.VersionedAssets.at("javascripts/vendor/angularjs/mask.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("vendor/ng-csv/ng-csv.min.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/agent.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/angular-motion.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/bootstrap-additions.min.css")">
}

@import play.api.Play
@import play.api.Play.current

@scripts = @{
  Play.configuration.getBoolean("assets.min") match {
    case Some(true) => minifiedScripts
    case _ => normalScripts
  }
}

@main("kulebaoAgent")(scripts)(styling) {
  <div class="main-view" ui-view></div>
}
