@scripts = {
}
@styling = {
  <link rel="stylesheet" media="all and (max-width: 1080px)" href="@routes.VersionedAssets.at("stylesheets/mobile-download.css")">
}

@staticMain("幼乐宝客户端下载")(scripts)(styling) {

  <ul class="app-download">
    <li class="app-download-android">
      <a href="/app_package?redirect=true#mp.weixin.qq.com">
        <span>Android版下载</span>
      </a>
    </li>
    <li class="app-download-iphone">
      <a href="https://itunes.apple.com/us/app/you-le-baoios/id854211863?ls=1&mt=8">
        <span>iPhone版下载</span>
      </a>
    </li>
  </ul>
}
