@scripts = {
  <script src="@routes.VersionedAssets.at("scripts/main.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/controllers/ForgottenController.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/services/EmployeePhoneService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/PasswordService.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/main.css")">
}
@main("kulebaoApp")(scripts)(styling) {
  <div ui-view></div>
}
