@scripts = {
  <script src="@routes.VersionedAssets.at("javascripts/vendor/jquery.slides.min.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/jslides.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/jquery.jslides.css")">
}

@staticMain("欢迎访问幼乐宝")(scripts)(styling) {
  <div id="full-screen-slider"><div id="slides">
    <li> <img class="img-responsive" src="@routes.VersionedAssets.at("images/1.jpg")"></li>
    <li> <img class="img-responsive" src="@routes.VersionedAssets.at("images/2.jpg")"></li>
    <li> <img class="img-responsive" src="@routes.VersionedAssets.at("images/3.jpg")"></li>
  </div>
  </div>

  <div class="ui-switchable-panel-box">
    <div id="qr-code">
      <div><img src="@routes.VersionedAssets.at("images/qrcode.http.png")" alt="二维码" width="136px"></div>
    </div>
  </div>

  <ul class="app-download">
    <li class="app-download-android">
      <a href="/app_package?redirect=true">
        <span>Android版下载</span>
      </a>
    </li>
    <li class="app-download-iphone">
      <a href="https://itunes.apple.com/us/app/you-le-baoios/id854211863?ls=1&mt=8">
        <span>iPhone版下载</span>
      </a>
    </li>
  </ul>

  <div class="image-intro "><img src="images/b1.png"></div>
  <div class="image-intro "><img src="images/b2.png"></div>
  <div class="image-intro "><img src="images/b3.png"></div>
  <div class="image-intro "><img src="images/b4.png"></div>

}