@scripts = {
  <script src="@routes.VersionedAssets.at("scripts/op.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/controllers/op/OperationController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/AppController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/SchoolManageController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/FeedbackController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/PrincipalController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/ChargeManagementController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/PhonesController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/CodeController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/ReportingController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/LoggingController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/ChatController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/DeviceController.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/controllers/op/ScoreController.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("scripts/directives/ngTarget.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/ngConfirmClick.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/directives/ngBkFocus.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/filters/phoneFilter.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/fileUploadService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/AppPackageService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/SchoolService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/FeedbackService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/ParentService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/SessionService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/EmployeeService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/ChildService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/PrincipalService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/PasswordService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/ChargeService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/adminNewsService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/ChatSessionService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/DailyLogService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/StatsService.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("scripts/services/EventStreamService.js")" type="text/javascript"></script>

  <script src="@routes.VersionedAssets.at("javascripts/vendor/angularjs/mask.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("javascripts/vendor/bootstrap-datepicker.js")" type="text/javascript"></script>
  <script src="@routes.VersionedAssets.at("vendor/angular-emoji-filter/emoji.min.js")" type="text/javascript"></script>
}
@styling = {
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/op.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/angular-motion.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/bootstrap-additions.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/libraries.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("vendor/angular-emoji-filter/emoji.min.css")">
}
@main("kulebaoOp")(scripts)(styling) {
  <div class="main-view" ui-view></div>
}
