<input id="re-captcha" type="text" name="answer" class="form-control" required />
@import scala.util.Random
@Random.setSeed(System.currentTimeMillis())
@Random.nextInt(14) match {
  case 1 => {
    <img src="assets/images/captcha/captcha.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="e6f7681249d77e4e69c69fe7866f532b"/>
  }

  case 2 => {
    <img src="assets/images/captcha/captcha1.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="d08b787a9bfd5a25626ce28e422de506"/>
  }

  case 3 => {
    <img src="assets/images/captcha/1.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="7787466eff202c14b0055d79c62d6361"/>
  }

  case 4 => {
    <img src="assets/images/captcha/2.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="bb76efb2453eb79acd5d494d285aca1c"/>
  }
  case 5 => {
    <img src="assets/images/captcha/3.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="40997ced00f423dbfb431cbdb36fb541"/>
  }
  case 6 => {
    <img src="assets/images/captcha/4.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="250b6df5a00e6de73db95ba7ab8c0914"/>
  }
  case 7 => {
    <img src="assets/images/captcha/5.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="a3e44c48f46b73d2097b7ada42f4b439"/>
  }
  case 8 => {
    <img src="assets/images/captcha/6.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="b3ffebe131a983b21270f72ecbd027fa"/>
  }
  case 9 => {
    <img src="assets/images/captcha/7.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="3afb060d24982bda4715f9b2508f4aea"/>
  }
  case 10 => {
    <img src="assets/images/captcha/8.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="1f851d3407be69a868a7063b4a75cd7f"/>
  }
  case 11 => {
    <img src="assets/images/captcha/9.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="d126f90c1d24d8374b6362aeb887f1fa"/>
  }
  case 12 => {
    <img src="assets/images/captcha/10.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="f0a94aa51d1359037c12d1f7d3dc623f"/>
  }
  case 13 => {
    <img src="assets/images/captcha/11.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="b1bc362612130bfc14b315d6dfdb0e3d"/>
  }
  case 14 => {
    <img src="assets/images/captcha/12.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="97a2d30e09db519fa15316291f145008"/>
  }

  case _ => {
    <img src="assets/images/captcha/captcha2.jpg" class="img-responsive captcha-image" alt=""/>
    <input type="hidden" name="challenge" value="fced89169747395b75103c3a613bbb50"/>
  }

}